{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Recruitment</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- Header -->
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">
        <!-- Heading -->
        <!-- <span class="govuk-caption-xl">Recuitement</span> -->
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Recruitment</h1>
        <!-- Core actions -->
        <!-- <a href="../ALL/create-vacancy-options/create-vacancy" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" name="button">Create a new vacancy</a> -->
        <a href="../ALL/create-vacancy-options/create-vacancy" class="govuk-button" name="button">Create a new vacancy</a>
      </div>
      <div class="govuk-grid-column-one-third">

      </div>

        <div class="govuk-grid-column-two-thirds">
        <!-- Search -->
        <form action="clients" method="GET" class="govuk-!-margin-top-6">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Search for a client</legend>
            <div class="form-group search-field search-field-darker">
              <div class="search-input search-input-with-button">
                <label class="govuk-label " for="searchClients">
                  <!--Client reference-->Search by vacancy title, reference number or employer
                </label>
                <div class="autocomplete__parent_wrapper">
                  <div class="autocomplete__wrapper">
                    <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;"><span>No
                        search results.</span><span>,,</span></div><input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="searchClients" name="searchClients" placeholder=""
                      role="combobox" type="text">
                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                  </div>
                </div><input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="" style="display: none;">
              </div>
              <div class="search-submit">
                <button class="button" type="submit" id="searchClientsSubmit" name="searchClientsSubmit" value="Search clients">Search clients</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div> <!-- Header -  govuk-grid-column-two-thirds -->
    </div> <!-- header - govuk-grid-row  -->

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

    <!-- Vacancy -->
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <div class="card">
            <div class="card-body">
              <h3 class="govuk-heading-m card-heading">

                <a class="card-link" href="new-vacancies?status=live">
                  <span class="card-number">25</span>
                  Live vacancies
                </a>
              </h3>
            </div>

            <div class="card-task">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="new-vacancies?status=any" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">6 vacancies are closing soon</a>
                </li>
                <li>
                  <a class="govuk-link" href="new-vacancies?status=any" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">3 closing vacancies have no applications</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="card">
            <div class="card-body">
              <h3 class="govuk-heading-m card-heading">

                <a class="card-link" href="new-vacancies?status=rejected">
                  <span class="card-number">0</span>
                  Rejected vacancies
                </a>
              </h3>
            </div>
            <div class="card-task">
              <ul class="govuk-list">
                <li>
                  <a class="ga-track-anchor-click" href="new-vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">7 vacancies pending review</a>
                </li>
                <li>
                  <a class="ga-track-anchor-click" href="new-vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="card">
            <div class="card-body">
              <h3 class="govuk-heading-m card-heading">

                <a class="card-link" href="new-vacancies?status=new">
                  <span class="card-number">12</span>
                  New applications
                </a>
              </h3>
            </div>
            <div class="card-task">
              <ul class="govuk-list">
                <li>
                  <a class="ga-track-anchor-click" href="/personal-account/self-assessment" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">Total of 56 applications on live vacancies </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-full">
        <a href="../ALL/create-vacancy-options/create-vacancy" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" name="button">View all 345 vacancies</a>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- Other actions -->
    <div class="govuk-grid-row" style="100">
      <div class="govuk-grid-column-one-third ">
        <h3 class="govuk-heading-s"><a href="#">Recruitment notifications</a></h3>
        <p>Set what email notifications you want to receive</p>
      </div>
      <div class="govuk-grid-column-one-third ">
        <h3 class="govuk-heading-s"><a href="#">Reports</a></h3>
        <p>Set what email notifications you want to receive</p>
      </div>
    </div>

  </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}
