{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="../" class="govuk-back-link">Return to home</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">RAA-v2 Prototypes</h1>
        <div class="version govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">0-2-1 | current
            <span class="govuk-caption-m">4 Sep </span></h2>
          <ul class="govuk-list">
            <li class="govuk-list--item"><a href="0-2-1/recruitment/config">Current recruitment journey</a></li>
            <!-- Quicklinks -->
            <li class="govuk-list--item">Other Designs</li>
            <li class="govuk-list--item"><a href="0-2-1/ER-1412-no-qualifications/index">ER-1412-no-qualifications</a></li>
            <li class="govuk-list--item"><a href="0-2-1/RVDB-21-collaboration/index">RVDB-21 collaboration round2</a></li>
            <li class="govuk-list--item"><a href="0-2-1/RVDB-153-auto-approve/index">RVDB-153 Auto-approve cloned vacancy</a></li>
            <li class="govuk-list--item"><a href="0-2-1/RVDB-154-banned-words/create/long-description">RVDB-154-banned-words</a></li>
            <li class="govuk-list--item"><a href="0-2-1/ER-1540-employer-dashboard/index">Employer dashboard (6 grid)</a></li>
            <li class="govuk-list--item"><a href="0-2-1/testing/home">For testing</a></li>
            <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-13/collaboration/index">Collaboation</a></li> -->
          </ul>
        </div>
        <h2 class="govuk-heading-m">Older versions</h2>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View archived versions
            </span>
          </summary>
          <div class="govuk-details__text">

            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-13
                <span class="govuk-caption-m">11 Aug - 4 Sep</span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-13/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <li class="govuk-list--item"><a href="0-1-13/RVDB-147-employer-dashboard/index">RVDB-147 Employer dashbaord</a></li>
                <li class="govuk-list--item"><a href="0-1-13/RVDB-149-employer-clone/index">RVDB-149 Employer Clone from vacancy page</a></li>
                <li class="govuk-list--item"><a href="0-1-13/RVDB-148-close-reason/index">RVDB-148 close vacancy - reason</a></li>
                <li class="govuk-list--item"><a href="0-1-13/RVDB-151-profanity-check/index">RVDB-151-profanity-check</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-13/RVDB-141-edit-qualifications/index">RVDB-141-edit   Qualifications</a></li>

                <li class="govuk-list--item"><a href="0-1-13/collaboration/index">Collaboration</a></li>
                <li class="govuk-list--item"><a href="0-1-13/autocheck/index">Autocheck</a></li>
                <li class="govuk-list--item"><a href="0-1-13/set-notifications-interupt/home?seen_notification_interupt=&has_notifications=no">Set notifications - interupt page</a></li>

                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-13/collaboration/index">Collaboation</a></li> -->
              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-12 | qualifications and trainig options
                <span class="govuk-caption-m">10 July - 24 July </span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-12/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/ER-1412-no-qualifications/index">ER-1412 - No Qualifications</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/RVDB-140-training-options/index">RVDB-140-training-options</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/RVDB-141-edit-qualifications/index">RVDB-141 edit qualifications</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/RVDB-142-wages-hours-switch/create/vacancy-preview">RVDB-142 switch hours and wages - Preview</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/RVDB-93-skip-provider/index">RVDB-93-skip-provider</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/ER-1438-training-section-update/index">ER-1438-training-section-update</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-12/new-vacancies/vacancies">New vacancy list design (experimental)</a></li>

              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-11 | Revoking of provider permissions and other QA admin functions
                <span class="govuk-caption-m">13th June</span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-11/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-52-wages/dashboard-multiple?duration=27&WageType=fixedWage&FixedWageYearlyAmount=6050&yearlyWage=£6,050">RVDB-52 Wages and individual page</a></li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-52-wages/">RVDB-52 Wages and individual page</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-40-new-journey-final/config">RVDB-40 new posting journey - FINAL</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-46-training/">RVDB-46 training</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-118-duration/create-vacancy-options/wage">RVDB-118 Duration improvements</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-94-revoke-permission/">RVDB-94 revoke permissions</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/ER-889-hard-stop/create/vacancy-preview?user=provider">ER-889 Hard stop (provider agreememnt)</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-133-stop-list-revoke/">RVDB-133 Provider placed on stop list</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-139-gcse-grades-check/">RVDB-139 Check GCSE grades are new</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-11/RVDB-138-close-vacancy-qa/">RVDB-138-close-vacancy-qa</a></li>


              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-10 | New journey and indivudal improvements.
                <span class="govuk-caption-m">28 May 2019 12th June</span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-10/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-40-new-journey-split/config">RVDB-40 NEW posting journey - Split</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-40-new-journey-employer/config">RVDB-40 NEW posting + employer profie</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-55-disabilty-confident/">RVDB-55 Disabilty confident</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-40-new-journey/config?edit=no">RVDB-40 new posting joureny - linear</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-93-skip-provider/create/vacancy-preview?edit=no">RVDB-93 Skip Provider </a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-94-revoke-permission/">RVDB-94 revoke permissions</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-52-wages/dashboard-multiple?duration=27&WageType=fixedWage&FixedWageYearlyAmount=6050&yearlyWage=£6,050">RVDB-52 Wages and individual page</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-51-main-description/">RVDB-51 main
                    vacancy description added question.</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-40-new-journey-final/config">RVDB-40 new posting journey - FINAL</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-108-remove-summary/">RVDB-108 Removing part 1 search summary</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-50-move-short-description/">RVDB-50 Moving short description to part 2 Removing</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-109-provider-move/">RVDB-109 provider move to part 1</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-110-improved-preview/">RVDB-110 Improved pt 2</a>
                <li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/RVDB-46-training/">RVDB-46 training</a>
                  <li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-10/ER-1308-hard-stop/create/vacancy-preview">ER-1308-hard-stop</a>
                    <li>

              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-9 | Disability confient, new posting journey, imporvements to current joureny.
                <span class="govuk-caption-m">14 May 2019 - 28 May 2019</span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-9/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-40-new-journey/config">RVDB-40 NEW posting journey - Flat</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-40-new-journey-split/config">RVDB-40 NEw posting journey - Split</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-46-select-provider/dashboard-multiple">RVDB-46 Select training provider</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-78-pt2-new-header/vacancy-preview/vacancy-preview">RVDB-78 new headers to all part 2 pages</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-55-disabilty-confident/">RVDB-55 Disabilty confident</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-70-title-position-split/create-vacancy-options/title">RVDB-70 title and positions split</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-60-qualifications/">RVDB-60 Qualifications</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-9/RVDB-89-extra-questions/vacancy-preview/vacancy-preview-simple?edit=no&questions=&ApplicationMethod=&question1=&question2=&question_simple=yes">RVDB-89 adding extra
                    questions</a>
                <li>

              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-8 | New journey, notifications and commitment journey
                <span class="govuk-caption-m">From 18 April, 2019 - 12 May 2019 </span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-8/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <!-- <li class="govuk-list--item"><a href="0-1-6/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-6/provider">Provider</a><li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVDB-40-new-journey/config">RVDB-40-new-journey</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVDB-40-new-journey-alt/config">RVDB-40-new-journey SIMPLIFIED</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVDB-38-notifications/">RVDB-38 Email notifications (2)</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/ER-1178-remove-non-levy/">ER-1178-remove-non-levy</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVDB-47-non-levy-homepage/">RVDB-47-non-levy-homepage</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVBD-22-commitments/">RVDB-22-commitments</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-8/RVDB-68-clone/config">RVDB-68 Clone</a>
                <li>

              </ul>
            </div>
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-7 | In design
                <span class="govuk-caption-m">From 1st April, 2019 - </span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-7/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Other Designs</li>
                <!-- <li class="govuk-list--item"><a href="0-1-6/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-6/provider">Provider</a><li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/new-flow/config">New recruitment journey</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/RVDB-xx-collaboration/vacancies?filter=any&user=provider">RVDB-xx Collaboration</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/RVDB-xx-favourites/config">RVDB-xx Favourites </a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/RVDB-37-saved/">RVDB-37-saved</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/RVDB-12-dashboard/">RVDB-12 Provider Dashboard (iteration 3)</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/ER-1081-access-denied/access-to-permissions.html">ER-1082 cannot access provider recuitment</a>
                <li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-7/RVDB-38-notifications/">RVDB-38 Email notifications</a>
                <li>
              </ul>
            </div>
            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-6 | Search, filters and dashboard
                <span class="govuk-caption-m">From 6th March, 2019 - 31st March,2019</span></h2>
              <ul class="govuk-list">
                <li class="govuk-list--item"><a href="0-1-6/recruitment/config">Current recruitment journey</a></li>
                <!-- Quicklinks -->
                <li class="govuk-list--item">Quicklinks</li>
                <!-- <li class="govuk-list--item"><a href="0-1-6/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-6/provider">Provider</a><li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/new-flow/config">New recruitment journey</a>
                <li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/dashboard/dashboard-multiple?user=provider">Dashboard</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/disability-confident/dashboard-multiple">Disabilty confident v3</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/ER-1088-report-on-dashboard/dashboard-multiple?user=provider">ER-1088 Report link on provider dashboard</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/ER-1099-filtering/">ER-1099 Filtering</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/RVDB-12-dashboard/">ER-1100 Dashboard</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/RVDB-14-search/">RVDB-14 - Provider search</a></li>
                <li class="govuk-list--item"><a class="govuk-link govuk-link--no-visited-state" href="0-1-6/RVDB-17-filter-v2/">RVDB-17 - Extra filters</a></li>
              </ul>
            </div>
            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-5 | anonymous, Location and trading name
                <span class="govuk-caption-m">From 20th Feb - 6th March, 2019</span></h2>

              <ul class="govuk-list">

                <li class="govuk-list--item"><a href="0-1-5/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-5/provider">Provider</a>
                <li>
                <li class="govuk-list--item"><a href="0-1-5/sprint/overview">Testing versions</a></li>
              </ul>
            </div>
            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-4 | Clone and reporting
                <span class="govuk-caption-m">Tested from 6th Feb - 20th Feb, 2019</span></h2>

              <ul class="govuk-list">

                <li class="govuk-list--item"><a href="0-1-4/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-4/provider">Provider</a>
                <li>
                <li class="govuk-list--item"><a href="0-1-4/sprint/overview">Testing versions</a></li>
              </ul>
            </div>
            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2
              class="govuk-heading-m">0-1-3 | Provider online journey and new design v2
                <span class="govuk-caption-m">Tested from 25th Jan - 6th Feb 2019</span>
              </h2>

               <ul class="govuk-list">

                <li class="govuk-list--item"><a href="0-1-3/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-3/provider">Provider</a>
                <li>
                <li cla ss="govuk-list--item"><a href="0-1-3/sprint/overview">Testing versions</a></li>
              </ul>
            </div>

            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-2 | Completed initial provider journey and started redsign of current flow.<span class="govuk-caption-m">Tested from 14th Jan - 25th Jan, 2018</span></h2>

              <ul class="govuk-list">

                <li class="govuk-list--item"><a href="0-1-2/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-2/provider">Provider</a>
                <li>
                <li class="govuk-list--item"><a href="0-1-2/sprint/overview">Testing versions</a></li>
              </ul>
            </div>

            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">0-1-1 | Added providers journey and new dashboard
                <span class="govuk-caption-m">Tested from 15th Jan - 14th Jan, 2018</span>
              </h2>
              <ul class="govuk-list">

                <li class="govuk-list--item"><a href="0-1-1/employer/dashboard?alt=off">Employer</a></li>
                <li class="govuk-link"><a href="0-1-1/provider/dashboard-multiple">Provider</a>
                <li>
                <li class="govuk-list--item"><a href="0-1-1/sprint/overview">Testing versions</a></li>
              </ul>
            </div>

            <!-- Version block start -->
            <div class="version govuk-!-margin-bottom-4">
              <h2 class="govuk-heading-m">0-1-0 | Initial build <span class="govuk-caption-m">Tested from 28th Nov - 12th Dec, 2018</span></h2>
              <h3 class="govuk-heading-s">Employer</h3>
              <ul class="govuk-list">

                <li><a class="govuk-link" href="0-1-0/employer/dashboard?alt=off">0-1-0 - Existing employer</a>
                <li>
                <li><a class="govuk-link" href="0-1-0/sprint/overview">Sprint designs</a></li>
              </ul>
            </div>
          </div>
        </details>


      </div>
    </div>

  </main>
</div>


{% endblock %}
