{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="#" class="govuk-back-link">Back</a>
{%endblock%}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You’ve successfully {%if data.notifications_updated == 'yes' %}updated {% else %}set up {% endif %}your recruitment emails
      </h1>
    </div>
    <p>We'll send emails to <b>yourname@abcopticions.com</b> when:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if "rejected" in data.notifications %}
      <li>
          vacancies are rejected after review
      </li>
      {% endif %}
      {% if "closingSoon" in data.notifications %}
      <li>
          vacancies are closing soon
      </li>
      {% endif %}
      {% if "newApplication" in data.notifications %}
      <li>
          there’s new applications ({% if data.emailFrequency == "immediately" %}straight away{% elseif  data.emailFrequency == "daily" %}daily{% else %}weekly{% endif %})
      </li>
      {% endif %}
    </ul>

    <form method="post">
    <div class="form-group inline">
      <div class="form-group">
          <button class="govuk-button" type="submit">Finish</button>
      </div>
    </div>
    </form>
  </div>
</div>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
