
<details class="govuk-details" role="group">
    <summary class="govuk-details__summary" role="button" aria-controls="details-content-6f3e499f-dc57-4610-89d4-9a5ddee4eec6" aria-expanded="false">
        <span class="govuk-details__summary-text">Get help <span class="govuk-visually-hidden">. Contact our helpdesk on: 08000 150 600 or email helpdesk@manage-apprenticeships.service.gov.uk</span></span>
    </summary>
    <div class="govuk-details__text" id="details-content-6f3e499f-dc57-4610-89d4-9a5ddee4eec6" aria-hidden="true">
        <p class="govuk-body">Contact our helpdesk on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>08000 150 600</li>
            <li>
                <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>
            </li>
        </ul>
    </div>
</details>
