
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">My first widget</h1>

    <h2 class="govuk-heading-l">Map and text</h2>
    <p class="govuk-body">Copy the following HTML into your website</p>
    

    <div class="govuk-inset-text">
        &lt;iframe src="https://rss.findapprenticeship.service.gov.uk/VacancyService/VacancySubscription.aspx?id=123456789">&lt;/iframe>
    </div>

    <p class="govuk-body"><a href="preview" class="govuk-link">Preview</a></p>

    <h2 class="govuk-heading-l">RSS Feed</h2>
    <p class="govuk-body">Use the following URL for your RSS feed</p>

    <div class="govuk-inset-text">
      https://rss.findapprenticeship.service.gov.uk/VacancyFeedService/VacancyRss.aspx
    </div>

    <a href="dashboard" style="background-color:red" class="govuk-button">Delete</a>&nbsp;&nbsp;&nbsp;
    <a href="training" class="govuk-button">Change</a>&nbsp;&nbsp;&nbsp;
    <a href="dashboard" class="govuk-button">Back to dashboard</a>
  </div>
</div>

{% endblock %}
