{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Brief overview</h1>

      <div class="govuk-character-count" data-module="character-count" data-minlength="50" data-maxlength="350">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
              Write a few sentences to describe your vacancy
          </label>
          <span class="govuk-hint">Brief overview needs to be engaging to make the candidate want to view the full vacancy.</span>
          <textarea class="govuk-textarea govuk-!-width-three-quarters js-character-count " id="shortDescription" name="shortDescription" rows="5"></textarea>
        </div>
      </div>
      <a href="employer" class="govuk-button">Save and continue</a>
      <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>

  </div>
</div>

{% endblock %}
