{% set appCount = vacancy.applications+vacancy.newApplications %}

<style media="screen">
  td.govuk-table__cell,
  th.govuk-table__header {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
  }
</style>
{% if data.status == "any" or not data.status %}
<tr class="govuk-table__row" role="row">
  <td class="govuk-table__cell das-table-colomn-45" role="gridcell">
    <span class="table-heading " aria-hidden="true">Vacancy title</span>
    <span class="data-name">{{vacancy.title}} Apprentice</span><br>{{vacancy.VAC}}
  </td>

  <td class="govuk-table__cell" role="gridcell" style=" width:25%">{%set employer = data.employers | random %}{{employer}}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric" role="gridcell" style="width:10%">
    <!-- Applications<br> -->
    {%if appCount > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}

    {% if appCount > vacancy.newApplications and vacancy.newApplications > 0 %}{{appCount}} <span class="govuk-!-font-weight-bold">({{vacancy.newApplications}} new )</span>{% else %}{{appCount}} {% endif %}
    {% elseif vacancy.status != 'Live'%}
    -
    {% else %}
    0
    {% endif%}
  <td class="govuk-table__cell das-table-colomn-15" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>{{data.dates | random}}</td>
  <td class="govuk-table__cell das-table-colomn-10" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
  <td class="govuk-table__cell das-table-colomn-5" role="gridcell" style=" text-align:right">
    {%if vacancy.status == "Live" %}
    <a href="
  {% if appCount > 0 %}account/manage-vacancy{% else %}account/manage-vacancy-no-apprentice{% endif %}
  " style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
    {%elseif vacancy.status == "Draft"%}
    <a href="vacancy-preview/vacancy-preview" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
    {%elseif vacancy.status == "Rejected"%}
    <a href="vacancy-preview/vacancy-preview-referred" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
    {%elseif vacancy.status == 'Pending review'%}
    <a href="account/manage-vacancy-pending?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
    {% else %}
    <a href="account/manage-vacancy-closed?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
    {%endif%}
  </td>
</tr>
{% elseif data.status == "closing"%}
  {%set date= data.dates | random%}
  {%if vacancy.status == 'Live'%}

  {% if 'Mar'in date or 'Apr' in date %}

  <tr class="govuk-table__row" role="row">
    <td class="govuk-table__cell das-table-colomn-45" role="gridcell">
      <span class="table-heading " aria-hidden="true">Vacancy title</span>
      <span class="data-name">{{vacancy.title}} Apprentice</span><br>{{vacancy.VAC}}
    </td>

    <td class="govuk-table__cell" role="gridcell" style=" width:25%">{%set employer = data.employers | random %}{{employer}}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric" role="gridcell" style="width:10%">
      <!-- Applications<br> -->
      {%if appCount > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}

      {% if appCount > vacancy.newApplications and vacancy.newApplications > 0 %}{{appCount}} <span class="govuk-!-font-weight-bold">({{vacancy.newApplications}} new )</span>{% else %}{{appCount}} {% endif %}
      {% elseif vacancy.status != 'Live'%}
      -
      {% else %}
      0
      {% endif%}
    <td class="govuk-table__cell das-table-colomn-15" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>{{date}}</td>
    <td class="govuk-table__cell das-table-colomn-10" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
    <td class="govuk-table__cell das-table-colomn-5" role="gridcell" style=" text-align:right">
      {%if vacancy.status == "Live" %}
      <a href="
    {% if appCount > 0 %}account/manage-vacancy{% else %}account/manage-vacancy-no-apprentice{% endif %}
    " style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Draft"%}
      <a href="vacancy-preview/vacancy-preview" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Rejected"%}
      <a href="vacancy-preview/vacancy-preview-referred" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == 'Pending review'%}
      <a href="account/manage-vacancy-pending?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {% else %}
      <a href="account/manage-vacancy-closed?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%endif%}
    </td>
  </tr>
    {%endif%}
  {%endif%}
{% elseif data.status == "new"%}
  {%if vacancy.applications > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Closed' and vacancy.status != 'Rejected'%}
  <tr class="govuk-table__row" role="row">
    <td class="govuk-table__cell das-table-colomn-45" role="gridcell">
      <span class="table-heading " aria-hidden="true">Vacancy title</span>
      <span class="data-name">{{vacancy.title}} Apprentice</span><br>{{vacancy.VAC}}
    </td>

    <td class="govuk-table__cell" role="gridcell" style=" width:25%">{%set employer = data.employers | random %}{{employer}}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric" role="gridcell" style="width:10%">
      <!-- Applications<br> -->
      {%if appCount > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}

      {% if appCount > vacancy.newApplications and vacancy.newApplications > 0 %}{{appCount}} <span class="govuk-!-font-weight-bold">({{vacancy.newApplications}} new )</span>{% else %}{{appCount}} {% endif %}
      {% elseif vacancy.status != 'Live'%}
      -
      {% else %}
      0
      {% endif%}
    <td class="govuk-table__cell das-table-colomn-15" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>{{date}}</td>
    <td class="govuk-table__cell das-table-colomn-10" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
    <td class="govuk-table__cell das-table-colomn-5" role="gridcell" style=" text-align:right">
      {%if vacancy.status == "Live" %}
      <a href="
    {% if appCount > 0 %}account/manage-vacancy{% else %}account/manage-vacancy-no-apprentice{% endif %}
    " style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Draft"%}
      <a href="vacancy-preview/vacancy-preview" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Rejected"%}
      <a href="vacancy-preview/vacancy-preview-referred" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == 'Pending review'%}
      <a href="account/manage-vacancy-pending?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {% else %}
      <a href="account/manage-vacancy-closed?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%endif%}
    </td>
  </tr>
  {%endif%}
  {% else %}
  {% if vacancy.status|lower == data.status%}
  <tr class="govuk-table__row" role="row">
    <td class="govuk-table__cell das-table-colomn-45" role="gridcell">
      <span class="table-heading " aria-hidden="true">Vacancy title</span>
      <span class="data-name">{{vacancy.title}} Apprentice</span><br>{{vacancy.VAC}}
    </td>

    <td class="govuk-table__cell" role="gridcell" style=" width:25%">{%set employer = data.employers | random %}{{employer}}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric" role="gridcell" style="width:10%">
      <!-- Applications<br> -->
      {%if appCount > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}

      {% if appCount > vacancy.newApplications and vacancy.newApplications > 0 %}{{appCount}} <span class="govuk-!-font-weight-bold">({{vacancy.newApplications}} new )</span>{% else %}{{appCount}} {% endif %}
      {% elseif vacancy.status != 'Live'%}
      -
      {% else %}
      0
      {% endif%}
    <td class="govuk-table__cell das-table-colomn-15" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>{{data.dates | random}}</td>
    <td class="govuk-table__cell das-table-colomn-10" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
    <td class="govuk-table__cell das-table-colomn-5" role="gridcell" style=" text-align:right">
      {%if vacancy.status == "Live" %}
      <a href="
    {% if appCount > 0 %}account/manage-vacancy{% else %}account/manage-vacancy-no-apprentice{% endif %}
    " style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Draft"%}
      <a href="vacancy-preview/vacancy-preview" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == "Rejected"%}
      <a href="vacancy-preview/vacancy-preview-referred" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%elseif vacancy.status == 'Pending review'%}
      <a href="account/manage-vacancy-pending?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {% else %}
      <a href="account/manage-vacancy-closed?title={{vacancy.title}}&orgName={{employer}}" style="display:inline-block;" class="govuk-link govuk-link govuk-link--no-visited-state">Manage</a>
      {%endif%}
    </td>
  </tr>
  {%endif%}
{%endif%}
