{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Business Administration Apprentice{% endif %} vacancy</span>
    <h1 class="govuk-heading-xl">Important dates</h1>
    <div class="dates">
      <div class="govuk-inset-text">
        The <span id="selected-training" class="govuk-!-font-weight-bold">
          {% if data.training_standard %}{{data.training_standard}}{% else %}Aerospace engineer, Level: 6 (Standard){% endif %}</span>'s end date is 3rd February 2019. The vacancy start dates must be before the standard end date.
          <a class="govuk-link" href="training_level">Change standard</a>
      </div>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="start-hint" role="group">
        <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
          When do you expect the apprentice to start?
        </label>

        <span id="start-hint" class="govuk-hint">
          For example, 02 02 2019
        </span>
        <div class="govuk-date-input" id="dob">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start-day"
                type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start-month"
                type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start-year"
                type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
            What is the application closing date
          </label>
          <span id="closing-hint" class="govuk-hint">
            For example, 19 01 2019
          </span>
          <div class="govuk-date-input" id="closing">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-day" name="closing-day"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-month" name="closing-month"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closing-year" name="closing-year"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
          <div class="govuk-form-group">
            <br>
            <label class="govuk-label govuk-!-font-weight-bold" for="duration">
              How long is the apprenticeship expected to last?
            </label>
            <span class="govuk-hint">This must be a minimum of 12 months</span>
            <input class="govuk-input govuk-input--width-4" id="duration" name="duration" type="text">
            <select class="govuk-select" id="sort" name="sort">

              <option value="published">Month(s)</option>
              <option value="published">Year(s)</option>
            </select>
          </div>
        </fieldset>
      </div>





      <a href="linked-organisation" class="govuk-button">Save and continue</a>
      <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>

  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
