{% extends "layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Vacancy has successfuly been reported, thank you
      </h1>
    </div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We will review your report and remove the vacancy if necessary. We will inform you if we take any actions or need more information.</p>
    <form method="post">
    <div class="form-group inline">
      <div class="form-group">
          <a href="results" class="govuk-button" type="submit">Back to search results</a>
      </div>
    </div>
    </form>
  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}

{% endblock %}
