
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">RVDB-148-close-reason</h1>
    <div class="version govuk-!-margin-bottom-8">
      <ul class="govuk-list">
        <li class="govuk-list--item"><a href="account/manage-vacancy?user=employer&alert=">manage live vacnacy page</a></li>
        <li class="govuk-list--item"><a href="account/close?user=employer&alert=">Close vacancy</a></li>
        <li class="govuk-list--item"><a href="account/manage-vacacny-closed?user=employer&alert=yes">Vacancy closed (alert)</a></li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}
