{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Successfully {%if new == 'no' %}updated {% else %}set up {% endif %}email notifcations
      </h1>
    </div>
    <p>We will send email notifications to <b>yourname@abcopticions.com</b> when:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
          A new vacancy is approved or rejected.
      </li>
      <li>
          A vacancy is about to end
      </li>
      <li>
          A vacancy has new applications (sent [[immediately]])
      </li>
    </ul>
    <div class="govuk-inset-text">
      You can update your preference anytime from the recuitement dashboard.
    </div>
    <form method="post">
    <div class="form-group inline">
      <div class="form-group">
          <button class="govuk-button" type="submit">Finish</button>
      </div>
    </div>
    </form>
  </div>
</div>


{% endblock %}
