{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Is this apprenticeship Disability Confident?</h1>
    <p class="govuk-body">You can add the disiabilty confident logo to this vacancy to help you recruit disabled people and people with health conditions for their skills and talent.</p>

    <form method="post">
    <div class="govuk-form-group govuk-!-margin-bottom-8">
        <fieldset class="govuk-fieldset" aria-describedby="disability-confident-hint">
          <span class="govuk-hint"></span>
          <div class="govuk-radios govuk-!-margin-bottom-4 govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-disability-confident" name="is_disability_confident" type="radio" value="yes" aria-describedby="is-disability-confident" aria-controls="conditional-disability-conditional" aria-expanded="false" {%if data.is_disability_confident == "yes"%}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="is-disability-confident">
                Yes, this is a disability confident apprenticeship
              </label>
            </div>
            <div class="govuk-radios__conditional {%if data.is_disability_confident != 'yes' %}govuk-radios__conditional--hidden{%endif%}" id="conditional-disability-conditional">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">Which disability confident level is this apprenticeship?</h3>
                </legend>
              </fieldset>
              <div class="govuk-form-group">
                <div class="govuk-radios" data-module="radios">
                  <!-- <span class="govuk-hint">You must have signed up for the level you are selecting. If youx§ are unsure please check on your Disability Confident certificate</span> -->

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="disability_confident-l2" name="disability_confident_level" type="radio" value="level1" {%if data.disability_confident_level == "level1"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                      Level 1 - commited (standard)
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="disability_confident-l2" name="disability_confident_level" type="radio" value="level2" {%if data.disability_confident_level == "level2"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                      Level 2 - employer
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="disability_confident-l2" name="disability_confident_level" type="radio" value="level3" {%if data.disability_confident_level == "level3"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                      Level 3 - leader
                    </label>
                  </div>
                </div>
              </div>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-disability-confident" name="is_disability_confident" type="radio" value="no" aria-describedby="is-disability-confident" aria-expanded="false">
              <label class="govuk-label govuk-radios__label" for="is-disability-confident">
                No
              </label>
            </div>
          </div>


          <div class="govuk-form-group">

        <button type="submit" class="govuk-button">Save and continue</button><!-- changed in disability branch -->

        <a href="../dashboard" class="govuk-body das-button--link">Save and exit</a>
      </div>
        </fieldset>
      </div>
      </form>
  </div>
</div>
<script type="text/javascript">
</script>

{% block help %}
  {% include "includes/service-help.html" %}
{% endblock %}

{% endblock %}
