{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .das-content-check--warning{
    background-color: #FDE4D7;
    border-bottom: 3px solid #f47738;
    display:inline-block;
  }
  .das-warning-text{
    color: #b10e1e;
  }
</style>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">2 advisories detected</h1>
    <p class="govuk-body">We have detected some potentially discriminating words and phrases.</p>
    <p class="govuk-body">Please check the following if the word used could descriminate candidates:</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body">The word <span class="govuk-!-font-weight-bold das-warning-text">Young </span> can be seen discriminatory, because vacancies cannot be for just young people.
    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s">What will the apprentice be doing?</h3>
        <p class="govuk-body das-content-check">
          We have a fantastic opportunity for a <span class="das-content-check--warning"><span class="govuk-visually-hidden">Advisory word: </span>young</span> apprentice to join our Hire Division in Smethwick, working with the commercial teams responsible for winning orders and maintaining effective customer relationships. You will develop the skills needed to support all aspects of business to business sales, from direct sales through to area management.
        </p>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body">The word <span class="govuk-!-font-weight-bold das-warning-text">Drive</span> can be seen discrimintory, because some candidates cant drive.
<div class="govuk-inset-text">
      <h3 class="govuk-heading-s">Brief description</h3>
        <p class="govuk-body das-content-check">
          We are looking for an Apprentice to join our dedicated team of advisors and technical specialists in supporting a forward thinking, diverse and dynamic organisation. Getting involved in all aspects of IT, from helping customers to help being part fo a team who <span class="das-content-check--warning"><span class="govuk-visually-hidden">Warning: </span>drive</span> hardware and network installations.
        </p>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you want to submit this vacancy for review?
              </h2>
            </legend>


            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="reedit-vacancy" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes, submit vacnacy.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="reedit-vacancy" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  no, I want to edit this vacancy
                </label>
              </div>
            </div>

            </fieldset>
        </div>
        <div class="govuk-form-group">
          <button type="submit" class="govuk-button">Submit and continue</button>
          </div>
      </form>



</div>
</div>
{% endblock %}
