{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Where will the{% if data.numberOfPositions > 1 %} apprentices{% else %} apprentice {% endif %} work?</h1>
    <div class="govuk-inset-text">
      For anonymous vacancies We will not show the address and only show the first half of the postcode on Find an apprenticeship.<br><a href="display-employer">Show your registered name or trading name on the vacancy</a>
    </div>
    <div class="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="selected-organisation-id" name="selected-organisation-id" type="radio"
                value="Organisation {{i}}" data-search-value="Organisation">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                Cheylesmore House, 5 Quinton Rd, Coventry CV1 2WT
              </label>
            </div>

            <div class="govuk-radios__item" data-target="business-name-vacancy-panel">
              <input class="govuk-radios__input" id="selected-organisation-id" name="selected-organisation-id" type="radio"
                value="Organisation {{i}}" data-search-value="Organisation" data-aria-controls="different-address-conditional">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id">Somewhere else</label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="different-address-conditional">

                    <fieldset class="govuk-fieldset">
                      <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
                        What is the address?
                      </label>
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-three-quarters postcode-lookup" id="AddressLine1" name="AddressLine1" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-three-quarters" id="AddressLine2" name="AddressLine2" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-three-quarters" id="AddressLine3" name="AddressLine3" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-three-quarters" id="AddressLine4" name="AddressLine4" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10 postcode-lookup" id="postcode" name="address-postcode" type="text">
                      </div>
                    </fieldset>
            </div>
          </div>
        </fieldset>
      </div>

      {% if query.edit != "yes"%}
      <input type="submit" class="govuk-button" name="continueButton" value="Save and continue"/>
        <a href="../dashboard-multiple" class="govuk-body das-button--link">Cancel</a>
      {%else%}
        <input type="submit" class="govuk-button" name="previewButton" value="Save and continue"/>
        <a href="vacancy-preview" class="govuk-body das-button--link">Cancel</a>
      {%endif%}
    </div>

  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
