
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% from "back-link/macro.njk" import govukBackLink %}


  <div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">RVDB-55 Disabilty Confident</h1>
        <h3 class="govuk-heading-m"><a href="./provider/config">Configure session</a></h3>
        <!-- Version block start -->
        <div class="version govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Existing provider</h2>
          <ul class="govuk-list">
            <li class="govuk-list--item"><a href="dashboard-multiple">From dashboard</a></li>
            <br>
            <li class="govuk-list--item"><a href="create-vacancy-options/disability_set?disability_confident_signed=&disability_confident_level=">Disabilty confident question</a></li>
            <br><span class="govuk-hint">Summary page</span>
            <li class="govuk-list--item"><a href="create-vacancy-options/search-results-preview?disability_confident_signed=yes&disability_confident_level=level1&disability_confident_show=yes">Summary with level 1 badge</a></li>
            <li class="govuk-list--item"><a href="create-vacancy-options/search-results-preview?disability_confident_signed=yes&disability_confident_level=level2&disability_confident_show=yes">Summary with level 2 badge</a></li>
            <li class="govuk-list--item"><a href="create-vacancy-options/search-results-preview?disability_confident_signed=yes&disability_confident_level=level3&disability_confident_show=yes">Summary with level 3 badge</a></li>
            <li class="govuk-list--item"><a href="create-vacancy-options/search-results-preview?disability_confident_signed=&disability_confident_level=&disability_confident_show=no">Summary without badge</a></li>
            <br><span class="govuk-hint">Preview (pt2) page</span>
            <li class="govuk-list--item"><a href="vacancy-preview/vacancy-preview?disability_confident_signed=yes&disability_confident_level=level1&disability_confident_show=yes">Preview (pt2) with level 1 badge</a></li>
            <li class="govuk-list--item"><a href="vacancy-preview/vacancy-preview?disability_confident_signed=yes&disability_confident_level=level2&disability_confident_show=yes">Preview (pt2) with level 2 badge</a></li>
            <li class="govuk-list--item"><a href="vacancy-preview/vacancy-preview?disability_confident_signed=yes&disability_confident_level=level3&disability_confident_show=yes">Preview (pt2) with level 3 badge</a></li>
            <li class="govuk-list--item"><a href="vacancy-preview/vacancy-preview?disability_confident_signed=&disability_confident_level=&disability_confident_show=no">Preview (pt2) without org that is not disabilty confident</a></li>
            <li class="govuk-list--item"><a href="create-vacancy-options/disability_set?disability_confident_signed=yes&disability_confident_level=level1&edit=yes">Disabilty confident question from part 2 (edit)</a></li>
            <br><span class="govuk-hint">V1 designs</span>
            <li class="govuk-list--item"><a href="https://www.figma.com/proto/ZteCeZZ5aX3BknQN6wgUA9FG/Untitled?node-id=1%3A57&scaling=min-zoom">v1 select disabity confident</a></li>
            <li class="govuk-list--item"><a href="https://skillsfundingagency.atlassian.net/wiki/spaces/RAAV2/pages/1393295595/QA+process+for+disability+confident.">v1 QA designs</a></li>
            <br><span class="govuk-hint">Other pages</span>
            <li class="govuk-list--item"><a href="vacancy-preview/vacancy-preview-referred">Rejected vacancy - Preview</a></li>
            <li class="govuk-list--item"><a href="create-vacancy-options/disability-rejected?edit=yes">Rejected vacancy - disabilty confident page</a></li>

            <li class="govuk-list--item"><a href="create-vacancy-options/training">Important dates page with disability confident removed</a></li>
          </ul>
        </div>


      </div>
  </div>

  </main>
</div>


{% endblock %}
