{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Faizal Dawood</h1>
      <div class="govuk-!-margin-bottom-6">
        <span class="govuk-!-font-weight-bold">Application ID: </span>1DAB217
      </div>

      <div class="panel panel-border-narrow">
        <p class="govuk-body">
          Faizal Dawood<br>13 Old Hinckley Road<br>Nuneaton<br>Warwickshire<br>CV10 0AA
        </p>
        <p class="govuk-body">
          07812345678
          <br> <a href="mailto:faizal.dawood@domainname.co.uk">faizal.dawood@domainname.co.uk</a>
        </p>
      </div>
    </section>

    <section>
      <h2 class="govuk-heading-l">About you</h2>

      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What are your main strengths?</span>
        <span>fdfghm</span>
      </div>
      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What skills would you like to improve during this apprenticeship?</span>
        <span>fgrszfh</span>
      </div>
      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What are your hobbies and interests?</span>
        <span>erheraherth</span>
      </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <section>
      <h2 class="govuk-heading-l">Education</h2>

      <h3 class="govuk-heading-s">Name of most recent school/college</h3>
      <p>etone</p>

      <h3 class="govuk-heading-s">Years attended</h3>
      <table>
        <thead>
          <tr>
            <th>Started</th>
            <th>Finished</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2009</td>
            <td>2019</td>
          </tr>
        </tbody>
      </table>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <section>
      <h2 class="govuk-heading-l">Qualifications</h2>

      <p>I don't have any qualifications</p>

    </section>

    <section>
      <h2 class="govuk-heading-l">Work experience</h2>

      <p>I don't have any work experience</p>

    </section>

    <section>
      <h2 class="govuk-heading-l">Training courses</h2>

      <p>I have not been on any training courses</p>


    </section>

    <section>
      <h2 class="govuk-heading-l">Skills the Employer wants</h2>



      <p>
        Communication skills
      </p>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <section>
      <h3 class="govuk-heading-s">Do you have a learning difficulty, disability or health problem?</h3>
      <p>No</p>

      <h3 class="govuk-heading-s">Is there anything we can do to support your interview?</h3>
      <p>
        <span>I don't have any interview support requirements</span>

      </p>
      <br>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </section>

    <section>
      <h3 class="govuk-heading-l">Outcome</h3>
      <p>Successful</p>
      <p></p>

      <p><a class="govuk-button" href="javascript:history.back()">Return to vacancy</a></p>
    </section>


  </div>
</div>

<script nonce="">
  $(function() {
    var showHideContent = new GOVUK.ShowHideContent();
    showHideContent.init();
  });
</script>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
