{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Recuitment</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Vacancies</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Vacancies</h1>

    <a href="create-vacancy-options/create-vacancy-choice" class="govuk-heading-m">Create vacancy</a>
    <form action="manage" method="get">

      <div class="row-group">

        <div class="search-table column-two-thirds">
          <fieldset class="govuk-fieldset">

            <div class="form-group search-field search-field-darker">
              <input type="hidden" name="clientsFilter" value="new">

              <div class="search-input search-input-with-button">
                <label class="form-label" for="searchClients">
                  <!-- Client reference -->
                  <span class="">Search for a team member by name, role or email</span>
                </label>

                <div class="autocomplete__parent_wrapper">

                  <div class="autocomplete__wrapper">

                    <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                      <span>No search results.</span>
                      <span>,,</span>
                    </div>

                    <p id="search-default-value" class="hidden">{% if searching %}{{searchtearm}}{% endif%}</p>
                    <input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="searchClients" name="searchClients" placeholder="" role="combobox" type="text" value="{% if searching %}{{searchtearm}}{% endif%}">
                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                  </div>

                </div>

                <input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="" style="display: none;">
              </div>

              <div class="search-submit">
                <button class="button" type="submit" id="searchClientsSubmit" name="searchClientsSubmit" value="Search clients">Search clients</button>

              </div>

            </div>

          </fieldset>
          <a class="" href="manage?clearSearch=true&user=admin">Clear search</a>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- accordion -->
    <div class="accordion" id="accordion-default">

      <div class="accordion-section">

        <div class="accordion-section-header">
          <h2 class="heading-medium">Filter by status</h2>
        </div>
        <div class="accordion-section-body">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Draft (1)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Pending review (3)
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Rejected (3)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Live (3)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Closed (3)
                      </label>
                    </div>
                </fieldset>
              </div>
            </div>
          </div>
          <a href="#" class="govuk-button">filter vacancies</a>
        </div>

      </div>
    </div>
    <!-- accordion -->
    <!-- DATA -->
    <div class="govuk-visually-hidden">
      {% for i in locations %}
      <span class="data-orgs">ABC Opticians {{i}}</span>
      {% endfor %}
    </div>

    <div class="govuk-visually-hidden">
      {% for p in providers %}
      <span class="data-providers">{{p}}</span>
      {% endfor %}
    </div>
    <!-- START table -->
    <table class="govuk-table responsive-table">
      <!-- <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th class="govuk-table__header" scope="col">Vacancy title</th>
          <th class="govuk-table__header" scope="col">Vacancy ref</th>
          <th class="govuk-table__header" scope="col">Closing date</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" style="text-align:right" scope="col">Action</th>
        </tr>
      </thead> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Tester</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>Not available</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span></td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--draft">Draft</span></td>
          <td class="govuk-table__cell numeric" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Developer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000651</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>27 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="das-tag das-tag--live">Live</span></td>
          <td class="govuk-table__cell numeric" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell "><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Tester</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000652</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>03 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--draft">Draft</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Business Analyst Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000656</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>07 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--submitted">Pending review</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Front End Developer</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000657</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>29 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--submitted">Pending review</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Interaction Designer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000668</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>23 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--closed">Closed</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Developer</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000689</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>11 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--referred">Rejected</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">User Researcher Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000693</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>12 Nov 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--live">Live</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Software Developer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000697</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>31 Oct 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--referred">Rejected</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Technical Architect</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000702</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>07 Sep 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--closed">Closed</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Tester</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>Not available</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span></td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--draft">Draft</span></td>
          <td class="govuk-table__cell numeric" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Developer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000651</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>27 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="das-tag das-tag--live">Live</span></td>
          <td class="govuk-table__cell numeric" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell "><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Tester</td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000652</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>03 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--draft">Draft</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Coventry Business Analyst Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000656</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>07 Jan 2019</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--submitted">Pending review</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Front End Developer</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000657</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>29 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--submitted">Pending review</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Interaction Designer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000668</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>23 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--closed">Closed</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">

          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Software Developer</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000689</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>11 Dec 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--referred">Rejected</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">User Researcher Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000693</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>12 Nov 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--live">Live</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Clone</a> &nbsp; <a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" ro data-ide="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Condover Software Developer Apprentice</span></td>
          <td class="govuk-table__cell data-id" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000697</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>31 Oct 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--referred">Rejected</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row" role="row">
          <td class="govuk-table__cell " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy title</span><span class="data-name">Apprentice Technical Architect</span></td>
          <td class="govuk-table__cell data-id  " role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>VAC1000000702</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Closing date</span>07 Sep 2018</td>
          <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--closed">Closed</span></td>
          <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->
  </div>
</div>
<script src="/public/javascripts/accordion.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  new Accordion(document.getElementById('accordion-default'))

</script>

<script type="text/javascript">
  function addMembers(event) {
  document.getElementById("add-members-form").submit();
}

function getUsers() {

  var names = document.getElementsByClassName("data-name");
  var id = document.getElementsByClassName("data-id");
  var orgs = document.getElementsByClassName("data-orgs");
  var providers = document.getElementsByClassName("data-providers");
  var data = [];

  for (var i=0; i<names.length; i++) {
    // var user=names[i].textContent+" - "+email[i].textContent;
    var user="<span class='govuk-hint autocomplete__option--hint' style='display:inline'>VAC1000000697: </span>"+names[i].textContent
      data.push(user);
  }
  for (var i=0; i<orgs.length; i++) {
    // var user=names[i].textContent+" - "+email[i].textContent;
    var org="<span class='govuk-hint autocomplete__option--hint' style='display:inline'>Organisation: </span>" + orgs[i].textContent;
    data.push(org);
  }
  for (var i=0; i<providers.length; i++) {
    // var user=names[i].textContent+" - "+email[i].textContent;
    var provider="<span class='govuk-hint autocomplete__option--hint' style='display:inline'>Provider: </span>" + providers[i].textContent;
    data.push(provider);
  }
  return data;
}

function suggest (query, populateResults) {
  // const results = "Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677".split(",");
  // const results = Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677
  // const results = JSON.stringify(Company Tax Reference: 0029886907,Company Tax Reference: 0066105197,Company Tax Reference: 1468186760,Company Tax Reference: 3606121235,Company Tax Reference: 6704030677)
  const results = getUsers();
  const filteredResults = results.filter(
    result => result.toUpperCase().indexOf(query.trim().toUpperCase()) !== -1
  )
  // console.log(filteredResults)
  populateResults(filteredResults);
}

// Trigger search click.  Taken out the clich for the prototype.
function fireSearch() {
  setTimeout(function(){ $("#searchClientsSubmit").trigger("click") }, 200);
// console.log($('.autocomplete__option--focused').html ())
}
// function fireSearch(){
// 	// $("#searchClientsSubmit").trigger("click")
//   console.log("pressed")
// }
var myInput = document.querySelector('#searchClients');
var myInputID = myInput.id;
var element = document.createElement('div');
var value = ""

if (document.getElementById('search-default-value').innerHTML != "") {
  value = document.getElementById("search-default-value").innerHTML;
}

element.className = "autocomplete__parent_wrapper";
myInput.parentNode.insertBefore(element, myInput)
// console.log("value"+document.getElementById("search-default-value").innerHTML)
accessibleAutocomplete({
  // other options
  element: element,
  id: myInputID,
  name: myInput.name,
  source: suggest,
  defaultValue: value,
  confirmOnBlur: false,
  autoselect: true,
  onConfirm: fireSearch,
  displayMenu: 'overlay'
});
myInput.style.display = 'none';
myInput.id = myInputID + '-old';
myInput.name = '';
</script>
{% endblock %}
