{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="grid-row dashboard-header">
  		<div class="column-two-thirds">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  			<h1 class="govuk-heading-xl small-bottom-margin">
  			     Set up your notification preferences
  			</h1>

  		</div>
  	</div>


    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="when-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              When do you want to receive notifications?
            </h1>
          </legend>
          <span id="when-conditional-hint" class="govuk-hint">
            Select all options that are relevant to you.
          </span>
          <div class="govuk-checkboxes" data-module="checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input checked" id="when-conditional-3" name="receive_notification" type="checkbox" value="liveVacancy"  >
              <label class="govuk-label govuk-checkboxes__label" for="when-conditional-3">
                <span class="govuk-visually-hidden">Get notifications </span>A vacancy is approved or rejected by QA
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input checked" id="when-conditional-4" name="receive_notification" type="checkbox" value="liveVacancy"  >
              <label class="govuk-label govuk-checkboxes__label" for="when-conditional-4">
                <span class="govuk-visually-hidden">Get notifications </span>A vacancy is closing soon
              </label>
            </div>
            <div class="govuk-checkboxes__item govuk-checkboxes--conditional">
              <input class="govuk-checkboxes__input checked" id="when-conditional-1" name="receive_notification" type="checkbox" value="newApplication" data-aria-controls="conditional-when-conditional"  >
              <label class="govuk-label govuk-checkboxes__label" for="when-conditional-1">
                <span class="govuk-visually-hidden">Get notificatios </span>When you receive a new application
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-when-conditional">
              <fieldset class="govuk-fieldset" aria-describedby="when-conditional-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    How often do you want to receive new application emails?
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="checkboxes">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input checked" id="how-conditional-1" name="emailFrequency" type="radio" value="immediately" >
                    <label class="govuk-    label govuk-radios__label" for="how-conditional-1" >
                      <span class="govuk-visually-hidden">Get notifications </span>Immediately
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-conditional-2" name="emailFrequency" type="radio" value="daily">
                    <label class="govuk-label govuk-radios__label" for="how-conditional-2">
                      <span class="govuk-visually-hidden">Get notifications </span>Daily
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-conditional-3" name="emailFrequency" type="radio" value="weekly"  >
                    <label class="govuk-label govuk-radios__label" for="how-conditional-3">
                      <span class="govuk-visually-hidden">Get notifications </span>Weekly
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </fieldset>
      </div>
      <!-- <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="when-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              How often do you want to receive them?
            </h1>
          </legend>
          <span id="when-conditional-hint" class="govuk-hint">
            Select all options that are relevant to you.
          </span>
          <div class="govuk-radios" data-module="checkboxes">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input checked" id="when-conditional-1" name="receive_notification" type="checkbox" value="newApplication"  >
              <label class="govuk-    label govuk-radios__label" for="when-conditional-1" >
                <span class="govuk-visually-hidden">Get notifications </span>Immediately
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-2" name="receive_notification" type="checkbox" value="liveVacancy">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                <span class="govuk-visually-hidden">Get notifications </span>Daily
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-2" name="receive_notification" type="checkbox" value="liveVacancy">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                <span class="govuk-visually-hidden">Get notifications </span>Weekly
              </label>
            </div>
          </div>
        </fieldset>
      </div> -->
      <!-- <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Unsubscribe
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="unsubscribe" name="unsubscribe" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="when-conditional-1">
                Unsubscribe from all notifications
              </label>
            </div>
          </div>
        </fieldset>
      </div> -->
      <div class="govuk-form-group">
        	<button class="govuk-button submit" type="submit">Continue</button>
      </div>

    </form>


  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
