
{% extends "tp-layout.html" %}

{% block pageTitle %}
  Access Denied
{% endblock %}
{% block beforeContent%}
{{ super() }}
    <a href="/" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You no longer have access to the recruitment service</h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>

          PLUMPTON COLLEGE is removed from the recruitment service. All vacancies you created have been transferred to the employers.
        </strong>
      </div>
      <p class="govuk-body">If you wish to discuss this further you can contact our helpdesk on: </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>08000 150 600</li>
          <li>
              <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>
          </li>
      </ul>

    </div>
</div>

{% endblock %}
