
{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
  Manage vacancies
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your vacancies</h1>
      <p class="govuk-body">Your dashboard is empty, start by creating your first vacancy</p>
      <p class="govuk-body">You can clone vacancies once they've been submitted.</p>
      <p class="govuk-body">Vacancies will be approved or rejected within 24 hours.</p>
      <a href="create-vacancy-options/title" class="govuk-button">Create vacancy</a>
    </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
