{% if data.no_nav == "yes" %}{% extends "non-levy-layout.html" %}{% else %}{% extends "ma-layout.html"%}{% endif %}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block content %}
<p><a  href="javascript:history.back()" class="govuk-back-link">Back</a></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Which vacancy do you want to clone?</h1>
    <p class="govuk-body">You can clone vacancies once they've been submitted.</p>
    <form action="clone-vacancy" method="GET">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-visually-hidden">Search for an organisation</legend>
					<div class="govuk-form-group search-field search-field-darker govuk-input--width-30">

						<div class="search-input search-input-with-button">
							<label class="govuk-label" for="query">
								<!--Client reference-->
								Search by vacancy title or reference number
							</label>
							<div class="autocomplete__parent_wrapper">
                <div class="autocomplete__wrapper">
                  <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                    <span>No search results.</span>
                    <span>,,</span>
                  </div>
                  <input aria-owns="searchOrgs__listbox" autocomplete="off" class="autocomplete__input" id="searchOrgsAuto" name="query" placeholder="" role="combobox" type="text" style="display:none;" value="{% if query %}{{query}}{% endif %}">
                </div>
              </div>
              <input class="govuk-text" name="searchOrgQuery" id="searchOrgsQuery"   value="">
						</div>
						<div class="search-submit">
							<button class="govuk-button" type="submit" id="searchOrgsSubmit" name="searchOrgsSubmit" value="Search Organisations">Search Organisations</button>
						</div>
					</div>
          <p class="" data-clear-filter="" aria-hidden="false"><a id="clearSearch" href="#">Clear search</a></p>
				</fieldset>
			</form>
    </div>
    <div class="govuk-grid-column-two-thirds">

    <table id="vacancy-all" class="govuk-table">
          <tbody class="govuk-table__body">
            {% for i in range(0, 55) %}
            <tr class="govuk-table__row selection-item" role="row" data-item-id="{{loop.index}}">
              <td class="govuk-table__cell" role="gridcell">
                <span style="font-weight:bold">Developer Apprentice v{{loop.index}}</span> | VAC1000000651<br>
                Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                Closing 27 Jan 2019
              </td>
              <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <table id="vacancy-2" class="govuk-table">
              <tbody class="govuk-table__body">
                {% for i in range(0, 2) %}
                <tr class="govuk-table__row selection-item" role="row" data-item-id="{{loop.index}}">
                  <td class="govuk-table__cell" role="gridcell">
                    <span style="font-weight:bold">Developer Apprentice v{{loop.index}}</span> | VAC1000000651<br>
                    Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                    Closing 27 Jan 2019
                  </td>
                  <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <table id="vacancy-1" class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row selection-item" role="row" data-item-id="{{loop.index}}">
                      <td class="govuk-table__cell" role="gridcell">
                        <span style="font-weight:bold">Developer Apprentice v{{loop.index}}</span> | VAC1000000651<br>
                        Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                        Closing 27 Jan 2019
                      </td>
                      <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
                    </tr>
                  </tbody>
                </table>

                <p id="vacancy-no-result" style="display:none;">0 matches for <span class="querytext"></span></p>

        <div class="pager das-pager" aria-hidden="false" style="margin-top:0" data-paging="">
  				<div class="pager-controls das-pager-controls">
  					<a class="pager-prev das-pager-prev hidden" href="#" aria-hidden="true" hidden="hidden">Prev</a>
  					<ul class="pager-items das-pager-items"><li data-page-number="1">1</li><li data-page-number="2"><a href="#">2</a></li><li data-page-number="3"><a href="#">3</a></li><li data-page-number="4"><a href="#">4</a></li><li data-page-number="5"><a href="#">5</a></li></ul>
  					<a class="pager-next das-pager-next" href="#" aria-hidden="false">Next</a>
  				</div>
  				<div class="das-pager-summary">Showing 1 - 25 of 55 vacancies</div>
  			</div>
  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {

    var page = 1;
    var max_per_page = 25
    var total_items = 55
    var page_total = Math.round(total_items/max_per_page)+1
    var data_set = $('.selection-item');
    var pagerControls = $('.pager-controls');

    function updateList(){
      data_set.each(function( index ) {
      if($( this ).attr('data-item-id') > max_per_page*page-1 || $( this ).attr('data-item-id') < (max_per_page*page)-max_per_page ){
        $(this).attr("hidden","hidden")
        $(this).attr("aria-hidden","true")
        $(this).hide();
      }else{
        $(this).removeAttr("hidden","hidden")
        $(this).attr("aria-hidden","false")
        $(this).show();
      }
    });
      buildPager()
    }
    function buildPager(){
      var pager = ""
      var shown_items_min = (1+max_per_page*page)-max_per_page
      var shown_items_max = ((max_per_page*page) < total_items)? max_per_page*page : total_items;


      if(page > 1){
        pager +='<a class="pager-prev das-pager-prev" href="#" aria-hidden="false">Prev</a>'
      }

      pager+='<ul class="pager-items das-pager-items">'
      for(var i=1;i<=page_total;i++){
        var pager_link = (i!=page) ? '<li><a href="#">'+i+'</a></li>' : '<li>'+i+'</li>'
        console.log("building  "+pager_link )
        pager+=pager_link
      }

      pager+='</ul>';
      console.log("total_items:"+page)
      if(page < page_total){
        console.log("adding next")
        pager +='<a class="pager-next das-pager-next" href="#" aria-hidden="false">Next</a>'
      }
      pagerControls.html(pager)
      $('.pager-items a').on('click',function(event){
        event.preventDefault();
        console.log("updating page to ="+$(this).text())
        page = $(this).text()
        updateList()
      });
      $('.pager-next').on('click',function(event){
        event.preventDefault();
        page +=1
        updateList()
      })
      $('.pager-prev').on('click',function(event){
        event.preventDefault();
        page -=1
        updateList()
      })
      $('.das-pager-summary').html("Showing "+shown_items_min+" - "+shown_items_max+ " of "+total_items+" vacancies")
    }

    function searchCheck(e){
      keycount = $('#searchOrgsAuto').val().length
      $('.querytext').text($('#searchOrgsAuto').val())
      if(keycount == 2){
        $("#vacancy-2").show()
        $("#vacancy-1").hide()
        $("#vacancy-all").hide()
        $(".das-pager").hide()
        $("#vacancy-no-result").hide()
      }else if(keycount > 2 && keycount < 14){
        $("#vacancy-1").show()
        $("#vacancy-2").hide()
        $("#vacancy-all").hide()
          $("#vacancy-no-result").hide()
          $(".das-pager").hide()

        }else if(keycount >= 14){
          $("#vacancy-1").hide()
          $("#vacancy-2").hide()
          $("#vacancy-all").hide()
          $(".das-pager").hide()
          $("#vacancy-no-result").show()
        }else{
        $("#vacancy-all").show()
        $("#vacancy-2").hide()
        $("#vacancy-1").hide()
        $(".das-pager").show()
        $("#vacancy-no-result").hide()
      }
    }
    function init(){
      // Set up autocomplete
      searchCheck()
      $('#clearSearch').on('click',function(e){
        e.preventDefault();
        $('#searchOrgsAuto').val('')
        $("#vacancy-all").show()
        $("#vacancy-2").hide()
        $("#vacancy-1").hide()
        $(".das-pager").show()
      })

      $('#searchOrgsAuto').show()
      $('#searchOrgsAuto').on('keydown', searchCheck)
      $('#searchOrgsAuto').on('paste', function () {
          var element = this;
          setTimeout(function () {
            var text = $(element).val();
            searchCheck()
          }, 100);
        });
      // $('#searchOrgsAuto').on('blur',function(){
      //   keycount = 0
      // })
      $('#searchOrgsQuery').hide();
      // Hide submit button in this version, only shows if Javascript is not on.
      $('#searchOrgsSubmit').hide();
      $('.search-input').removeClass('search-input-with-button')

      buildPager()
      updateList()
    }
    init()



  });
</script>

{% endblock %}
