{% extends "layout.html" %}
{% block beforeContent %}
<div id="global-header-bar"></div>
<link href="/public/stylesheets/faa.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}


<div itemscope="" itemtype="http://schema.org/JobPosting">
    <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
            Business Administration Apprentice
            <span class="heading-secondary" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">Aatom Recruitment Ltd</span>
        </h1>
    </div>
    <div class="column-one-third">
        <ul class="list sfa-align-right-tablet sfa-xlarge-top-margin">
                <li>
                    <a href="/apprenticeships?ApprenticeshipLevel=All&amp;Hash=-218207335&amp;Latitude=52.400997&amp;Longitude=-1.508122&amp;Location=CV1%202WT&amp;LocationType=NonNational&amp;PageNumber=1&amp;ResultsPerPage=5&amp;SearchAction=Search&amp;SearchField=All&amp;SearchMode=Keyword&amp;SortType=Relevancy&amp;WithinDistance=5&amp;DisabilityConfidentOnly=False" title="Return to search results" id="lnk-return-search-results">Return to search results</a>
                </li>

            <li class="hide-nojs">
                <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
            </li>
            <li class="hide-nojs">
                <a class="report-this-vacancy" href="report-this-vacancy"><i class="fa fa-print"></i> Report this vacancy</a>
            </li>

        </ul>
    </div>
</div>

        <section class="grid-row">
            <div class="column-two-thirds">
                <div itemprop="description">
                    <p id="vacancy-description" class="preserve-formatting">Great position! Aatom Recruitment are seeking an eager to learn and enthusiastic apprentice to join their team as a business administration apprentice. Learning all aspects of the office; apply now!</p>
                </div>
            </div>
            <div class="column-one-third">



    <a role="button" id="apply-button" class="button button-with-hint" title="Sign in to apply" href="/apprenticeship/apply/-349355" onclick="Webtrends.multiTrack({ element: this, argsa: ['DCS.dcsuri', '/apprenticeship/apply/signin/-349355', 'WT.dl', '99', 'WT.ti', 'Apprenticeship – Sign In to Apply', 'DCSext.buttonPos', 'Top'] });">Sign in to apply</a>

    <p id="vacancy-closing-date" class="font-xsmall">Closing date: 20 Mar 2019</p>

            </div>
        </section>
        <section class="grid-row" id="vacancy-info">
            <div class="column-full">
                <h2 class="heading-large">Apprenticeship summary</h2>
            </div>
            <div class="column-one-third">
                <ul class="list">
                    <li class="sfa-if-first">
                            <h3 class="heading-small">Weekly wage</h3>
                            <p id="vacancy-wage">
                                £130.00
                            </p>



                    </li>
                    <li>
                        <h3 class="heading-small">Working week</h3>
                        <p id="vacancy-working-week" itemprop="workHours" class="sfa-small-bottom-margin">Monday - Friday, 9am - 5pm</p>

                            <p id="total-hours-per-week">Total hours per week: 35.00</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Expected duration</h3>
                        <p id="vacancy-expected-duration">13 months</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Possible start date</h3>
                        <p id="vacancy-start-date">21 Mar 2019</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Date posted</h3>
                        <p id="vacancy-posted-date">16 Oct 2018</p>
                    </li>
                    <li>
                            <h3 class="heading-small">Distance</h3>
                            <p id="vacancy-distance">0.2 miles</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Apprenticeship level</h3>
                        <p id="vacancy-type" itemprop="employmentType">Advanced Level Apprenticeship</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Reference number</h3>
                        <p id="vacancy-reference-id">VAC001464690</p>
                    </li>
                    <li>
                            <h3 class="heading-small">Positions</h3>
                            <p id="number-of-positions">2 available</p>
                    </li>
                </ul>
            </div>
            <div class="column-two-thirds">
                <div itemprop="responsibilities" class="sfa-if-first">
                    <div id="vacancy-full-descrpition" class="sfa-text-editor-generated preserve-formatting">
                        <p>Aatom Recruitment have a great position for an office apprentice to kick start a career in business, learning all aspects of the company and becoming an integral part of the team.</p>

<p>Job duties will include:</p>

<ul>
	<li>business administration duties</li>
	<li>sending e-mails</li>
	<li>handling inbound calls and diverting to colleagues as instructed</li>
	<li>uploading invoices</li>
	<li>data entry</li>
	<li>obtaining and completing timesheets and submitting applications</li>
	<li>assisting management when necessary</li>
</ul>

<p>Full training will be given in order to complete the above duties to the best of your ability.</p>

<p>Aatom Recruitment already have an apprentice in place, so they’re keen supporters of the apprenticeship scheme.</p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="sfa-no-bottom-margin">
            <section class="grid-row" id="course-info">
                <div class="column-full">
                    <h2 class="heading-large">Requirements and prospects</h2>
                </div>
                <div class="column-one-half">
                        <div class="sfa-if-first">
                            <h3 class="heading-small">Desired skills</h3>
                            <div id="vacancy-skills-required" class="sfa-text-editor-generated preserve-formatting" itemprop="skills">
                                <ul>
	<li>IT literate</li>
	<li>attention to detail</li>
	<li>good communication skills</li>
	<li>polite telephone manner</li>
</ul>
                            </div>
                        </div>
                                            <div class="sfa-if-first">
                            <h3 class="heading-small">Personal qualities</h3>
                            <div id="vacancy-qualities-required" class="sfa-text-editor-generated preserve-formatting" itemprop="qualities">
                                <ul>
	<li>confident</li>
	<li>friendly</li>
	<li>outgoing</li>
	<li>enthusiastic</li>
	<li>eager to learn</li>
	<li>team player</li>
</ul>
                            </div>
                        </div>
                                            <div class="sfa-if-first">
                            <h3 class="heading-small">Desired qualifications</h3>
                            <div id="vacancy-qualifications-required" class="sfa-text-editor-generated preserve-formatting" itemprop="qualifications">
                                <p>GCSE (or equivalent) in maths and English (A*-C/9-4).</p>
                            </div>
                        </div>

                </div>
                <div class="column-one-half ">
                        <div class="sfa-if-first">
                            <h3 class="heading-small">Future prospects</h3>
                            <div id="vacancy-future-prospects" class="sfa-text-editor-generated preserve-formatting" itemprop="incentives">
                                <p>If the apprentice proves to be successful with their&nbsp;duties, the role may be expanded once the apprenticeship is completed.</p>
                            </div>
                        </div>
                                            <div class="sfa-if-first">
                            <h3 class="heading-small">Things to consider</h3>
                            <div id="vacancy-reality-check" class="sfa-text-editor-generated preserve-formatting" itemprop="incentives">
                                <p>The National Minimum Wage for an apprentice is £3.70 an hour from the 1st of April 2018. This rate applies to apprentices under 19 and those aged 19 or over who are in their first year. Apprentices must be paid at least the minimum wage rate for their age if they are aged 19 or over and have completed their first year. The minimum wage rates are £5.90 an hour for 18-20 year olds, £7.38 for anyone aged 21 to 24, and £7.83 for those over 25.</p>

<p>Apprentices are paid for their normal working hours and training that’s part of their apprenticeship (usually one day per week).</p>
                            </div>
                        </div>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin">
        <section class="grid-row" id="employer-info">
            <div class="column-full">
                <h2 class="heading-large">About the employer</h2>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div>
                                <div id="vacancy-employer-description" class="sfa-text-editor-generated preserve-formatting">
                                    <p>Aatom Recruitment provides exceptional results, surpassing conventional recruitment methods by going the ‘extra mile’ to maintain relationships between candidates and clients. Our motivation is to guide and assist people to achieve their career potentials whilst ensuring that employers find the best person for the job.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-one-half">
                        <div>
                            <h3 class="heading-small">Employer</h3>
                            <p id="vacancy-employer-name" class="sfa-no-bottom-margin">Aatom Recruitment Ltd</p>


                                    <p>
                                        <a itemprop="url" href="http://www.aatomrec.com/" id="vacancy-employer-website" title="Aatom Recruitment Ltd Website">http://www.aatomrec.com/</a>
                                    </p>
                                    <div id="vacancy-address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <h3 class="heading-small">Address</h3>
                                        <div itemprop="address">
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress">Coventry University Technology Park</p>
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress">Puma Way</p>
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress"></p>
                                            <p class="sfa-small-bottom-margin" itemprop="addressLocality">Coventry</p>
                                            <p class="sfa-small-bottom-margin" itemprop="addressRegion"></p>
                                            <p class="sfa-small-bottom-margin" itemprop="postalCode">CV1 2TT</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="column-one-half hide-print">
                            <div id="vacancy-map" class="ad-details__map">
                                <div class="map-overlay" onclick=" style.pointerEvents='none' "></div>
                                    <iframe width="700" height="250" title="Map of location" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=CV1 2TT,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
                            </div>
                    </div>

                </div>


            </div>
        </section>
        <hr class="sfa-no-bottom-margin">
        <section class="grid-row" id="provider-info">
            <div class="column-full">
                <h2 class="heading-large">Training provider</h2>
            </div>
                <div class="column-two-thirds">
                    <div>
                            <div id="vacancy-training-to-be-provided" class="sfa-text-editor-generated preserve-formatting">
                                <ul>
	<li>A skills-based qualification in Business &amp; Administration</li>
	<li>A knowledge-based qualification in Business &amp; Administration</li>
	<li>A behaviour-based qualification in Business &amp; Administration</li>
	<li>Functional Skills English (unless exempt)</li>
	<li>Functional Skills Maths (unless exempt)</li>
	<li>Functional Skills ICT(unless exempt)</li>
</ul>

<p>www.boomtrainingltd.co.uk</p>
                            </div>
                                                    <h3 class="heading-small">Apprenticeship standard</h3>
                        <p id="vacancy-framework">Business Administrator</p>
                    </div>
                </div>
                <div class="column-one-third">
                    <div>
                        <h3 class="headnig-small">Training provider</h3>
                        <p id="vacancy-provider-name">BOOM TRAINING LIMITED</p>

                            <p id="recruitment-agency-name">Applications for this apprenticeship are being processed by Boom Training Ltd</p>
                    </div>

                        <div>
                            <h3 class="heading-small">Contact</h3>
                            <p id="vacancy-provider-contact" class="preserve-formatting">Grace Warren 02380 682 060 hello@boomtrainingltd.co.uk</p>
                        </div>
                </div>
        </section>
        <hr class="sfa-no-bottom-margin">
            <section id="before-apply" class="grid-row">
                <div class="column-full">
                    <h2 class="heading-large">Before you apply</h2>
                </div>
                <div class="column-two-thirds">
                    <p>Before you apply for an apprenticeship you must first create an account. If you already have an account you'll need to sign in.</p>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin">
</div>
{% endblock %}
