{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}


{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back to vacancies</a>
{% endblock %}
{% block content %}

<style media="screen">
  .analytics--block{
    margin-bottom:10px;
  }
  .analytics--header{
    background-color:#CAE7E5;
    padding:6px 10px 5px;
    margin-bottom: 10px;
    /* font-size: 16px !important;
font-size: 1rem !important;
line-height: 1.25 !important; */

  }
  .analytics--numeric{
    font-size: 50px;
    font-weight: 700;
  }
  .analytics--label{font-size:28px;font-weight: 400;}
  .govuk-icon-small{
    font-size: 40px;
    color:#6f777b;
    margin-right:10px;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl">Manage vacancy</h1>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half ">
        <span class="govuk-body govuk-!-font-weight-bold">Status</span>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body">Live</span>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body govuk-!-font-weight-bold">Vacancy title</span>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body">Apprentice Bricklayer</span>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body govuk-!-font-weight-bold">Vacancy ref</span>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body">VAC1000000997</span>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half govuk-!-font-weight-bold">
        <span class="govuk-body">Closing date</span>
      </div>
      <div class="govuk-grid-column-one-half ">
        <span class="govuk-body">01 Jan 2019
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body govuk-!-font-weight-bold">Possible start date</span>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-body">01 Feb 2019</span>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <ul class="govuk-list">
          <li><a class="govuk-link button-link" href="preview-edit">Edit vacancy</a></li>
          <li><a class="govuk-link button-link" href="#">Close vacancy</a></li>
          <li><a class="govuk-linkbutton-link" target="_blank" href="preview">View vacancy</a></li>
        </ul>
        <p class="govuk-body">

        </p>



      </div>
    </div>

  </div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Manage applications</h2>
      <p class="govuk-body">Candidate applications for this apprenticeship will appear here.</p>
    </div>
  </div>

{% endblock %}
