{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div  class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Permissions updated
      </h1>
      <div class="govuk-panel__body">
        You've successfully saved permissions for
        <br><strong>{%if data.new_provider=="yes" %}
          {% set len = (data.set_permission_provider | length)-9%}
          {% set pname = data.set_permission_provider.slice( 0, len) %}
          {{pname or "PLUMPTON COLLEGE"}}
        {% else %}
          {{data.set_permission_provider or "PLUMPTON COLLEGE"}}
        {% endif %}</strong><br>

      </div>
    </div>
    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">{%if data.new_provider=="yes" %}
      {% set len = (data.set_permission_provider | length)-9%}
      {% set pname = data.set_permission_provider.slice( 0, len) %}
      {{pname or "PLUMPTON COLLEGE"}}
    {% else %}
      {{data.set_permission_provider or "PLUMPTON COLLEGE"}}
    {% endif %} will be notified of the changes</p>

    <p class="govuk-body">
      Once your provider has submitted a vacancy for approval, it will show on your recruitment dashboard <a href="../notifications/notification-preferences-new">Manage your recruitment emails</a> if you’d like to get an email.</p>
    <form method="post">
    <div class="form-group inline">
      <div class="form-group">
        {% if data.new_provider ==  "yes"%}
          <a href="providers-one-org" class="govuk-button" type="submit">Return to permissions homepage</a>
        {% else %}
          <a href="providers" class="govuk-button" type="submit">Return to permissions homepage</a>
        {% endif %}

      </div>
    </div>
    </form>
  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}

{% endblock %}
