{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.error == "yes" %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Please fix these errors
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#dob-error">You must select an employer</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <!-- <span class="govuk-caption-xl">Recuitment</span> -->
    <h1 class="govuk-heading-xl">Which of your employers do you want to create a vacancy for?</h1>

    <form method="POST" id="employers-form">
      {% if data.employerAmount > 10 %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">Search your employers</legend>
        <div class="govuk-form-group search-field search-field-darker govuk-input--width-30">

          <div class="search-input search-input-with-button">
            <label class="govuk-label" for="query">
              <!--Client reference-->
              Search your employers
            </label>

            <div class="autocomplete__parent_wrapper">
              <div class="autocomplete__wrapper">
                <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                  <span>No search results.</span>
                  <span>,,</span>
                </div>
                <input aria-owns="searchOrgs__listbox" autocomplete="off" class="autocomplete__input" id="searchOrgsAuto" name="query" placeholder="" role="combobox" type="text" style="display:none;" value="{% if query %}{{query}}{% endif %}">
              </div>
            </div>
            <input class="govuk-text" name="searchOrgQuery" id="searchOrgsQuery" value="">
          </div>
          <div class="search-submit">
            <button class="govuk-button" type="submit" id="searchOrgsSubmit" name="searchOrgsSubmit" value="Search Organisations">Search Organisations</button>
          </div>
        </div>
        <p class="" data-clear-filter="" aria-hidden="false"><a id="clearSearch" href="#">Clear search</a></p>
      </fieldset>
      {% endif %}
      <div id="oranisation-list" class="govuk-form-group {% if query.error == "yes" %}govuk-form-group--error{%endif%}">
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-s">Select employer</h2>
          {% if query.error == 'yes' %}
          <span id="employer-error" class="govuk-error-message">You must select and employer</span>
          {% endif %}
          <div class="govuk-radios">
            {% for employer in data.employers %}
            <div class="govuk-radios__item selection-item" data-item-id="{{loop.index+1}}">
              <input class="govuk-radios__input" id="selected-organisation-id-{{loop.index+1}}" name="selected_organisation_id" type="radio" value="ABC opticians {{employer.businessName}}" data-search-value="Organisation {{loop.index+1}}">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-{{loop.index+1}}">
                {{employer.businessName}}
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div id="oranisation-list-1" class="govuk-form-group" style="display:none;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="selected_organisation_id" type="radio" value="ABC opticians Coventry" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                ABC opticians Coventry
              </label>
            </div>
        </fieldset>
      </div>


      <div id="oranisation-list-2" class="govuk-form-group" style="display:none;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="selected_organisation_id" type="radio" value="ABC opticians Coventry" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                ABC opticians Coventry
              </label>
            </div>
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="sselected_organisation_id" type="radio" value="ABC opticians Wycombe" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                ABC opticians Wycombe
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p id="oranisation-list-no-result" style="display:none;">0 matches for <span class="querytext"></span></p>

      {% if data.employerAmount > 25 %}
      <div class="pager das-pager" aria-hidden="false" style="margin-top:0" data-paging="">
        <div class="pager-controls das-pager-controls">
          <a class="pager-prev das-pager-prev hidden" href="#" aria-hidden="true" hidden="hidden">Prev</a>
          <ul class="govuk-list pager-items das-pager-items">
            <li data-page-number="1">1</li>
            <li data-page-number="2"><a href="#">2</a></li>
            <li data-page-number="3"><a href="#">3</a></li>
            <li data-page-number="4"><a href="#">4</a></li>
            <li data-page-number="5"><a href="#">5</a></li>
          </ul>
          <a class="pager-next das-pager-next" href="#" aria-hidden="false">Next</a>
        </div>
        <div class="das-pager-summary">Showing 1 to 25 of 87 employers</div>
      </div>
      {% endif %}

      <button type="submit" class="govuk-button">Continue</button>
      <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/checkbox-editing.js"></script>

<script>
  $(document).ready(function() {

    // TODO call script from file instead
    // pass this in - 118 - total items - totalCheckboxesCount
    // pass this in - false - boolean whether to clear down or not
    // pass this in - 25 - how many items to show per page
    // checkboxEditing(
    //   118,
    //   false,
    //   25,
    //   "team member",
    //   "team members"
    // )

    var page = 1;
    var max_per_page = 25
    var data_set = $('.selection-item');
    var total_items = $('.selection-item').length
    var page_total = Math.round(total_items / max_per_page) + 1
    var pagerControls = $('.pager-controls');
    var keycount = 0

    function updateList() {
      data_set.each(function(index) {
        if ($(this).attr('data-item-id') > max_per_page * page - 1 || $(this).attr('data-item-id') < (max_per_page * page) - max_per_page) {
          $(this).attr("hidden", "hidden")
          $(this).attr("aria-hidden", "true")
          $(this).hide();
        } else {
          $(this).removeAttr("hidden", "hidden")
          $(this).attr("aria-hidden", "false")
          $(this).show();
        }
      });
      buildPager()
    }

    function buildPager() {
      var pager = ""
      var shown_items_min = (1 + max_per_page * page) - max_per_page
      var shown_items_max = ((max_per_page * page) < total_items) ? max_per_page * page : total_items;
      if (page > 1) {
        pager += '<a class="pager-prev das-pager-prev" href="#" aria-hidden="false">Prev</a>'
      }
      pager += '<ul class="pager-items das-pager-items">'
      for (var i = 1; i <= page_total; i++) {
        var pager_link = (i != page) ? '<li><a href="#">' + i + '</a></li>' : '<li>' + i + '</li>'
        pager += pager_link
      }
      pager += '</ul>';
      console.log("total_items:" + page)
      if (page < page_total) {
        console.log("adding next")
        pager += '<a class="pager-next das-pager-next" href="#" aria-hidden="false">Next</a>'
      }
      pagerControls.html(pager)
      $('.pager-items a').on('click', function(event) {
        event.preventDefault();
        page = $(this).text()
        updateList()
      });
      $('.pager-next').on('click', function(event) {
        page += 1
        updateList()
      })
      $('.pager-prev').on('click', function(event) {
        page -= 1
        updateList()
      })
      $('.das-pager-summary').html("Showing " + shown_items_min + " to " + shown_items_max + " of " + total_items + "employers")
    }

    function searchCheck(e) {
      keycount = $('#searchOrgsAuto').val().length
      $('.querytext').text($('#searchOrgsAuto').val())
      if (keycount == 2) {
        $("#oranisation-list-2").show()
        $("#oranisation-list-1").hide()
        $("#oranisation-list").hide()
        $(".das-pager").hide()
        $("#oranisation-list-no-result").hide()
      } else if (keycount > 2 && keycount < 9) {
        $("#oranisation-list-1").show()
        $("#oranisation-list-2").hide()
        $("#oranisation-list").hide()
        $("#oranisation-list-no-result").hide()
        $(".das-pager").hide()

      } else if (keycount >= 9) {
        $("#oranisation-list-no-result").hide()
        $("#oranisation-list-1").hide()
        $("#oranisation-list-2").hide()
        $("#oranisation-list").hide()
        $(".das-pager").hide()
        $("#oranisation-list-no-result").show()
      } else {
        $("#oranisation-list").show()
        $("#oranisation-list-2").hide()
        $("#oranisation-list-1").hide()
        $(".das-pager").show()
        $("#oranisation-list-no-result").hide()
      }
    }

    function init() {
      // Set up autocomplete
      $('.govuk-button').on('click'), function(){
        $("#employers-form").submit();
      }
      searchCheck()
      $('#clearSearch').on('click', function(e) {
        e.preventDefault();
        $('#searchOrgsAuto').val('')
        $("#oranisation-list").show()
        $("#oranisation-list-2").hide()
        $("#oranisation-list-1").hide()
        $(".das-pager").show()
      })

      $('#searchOrgsAuto').show()
      $('#searchOrgsAuto').on('keydown', searchCheck)
      // $('#searchOrgsAuto').on('blur',function(){
      //   keycount = 0
      // })
      $('#searchOrgsQuery').hide();
      // Hide submit button in this version, only shows if Javascript is not on.
      $('#searchOrgsSubmit').hide();
      $('.search-input').removeClass('search-input-with-button')

      buildPager()
      updateList()
    }
    init()



  });
</script>
{% endblock %}
