{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

{% from "back-link/macro.njk" import govukBackLink %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">{% if data.title %}{{data.title}}{% else %}Developer apprenticeship{% endif %}</span>
      Description of the apprenticeship
    </h1>
    <form method="post">
      <fieldset class="govuk-fieldset">

        <div class="govuk-character-count govuk-!-margin-bottom-8" data-module="character-count" data-minlength="50" data-maxlength="500">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="VacancyDescription">
              What will the apprentice be doing?
            </label>
            <span class="govuk-hint">Describe what an average day or week will be like and what tasks they could be doing.</span>

            <textarea class="govuk-textarea js-character-count" id="VacancyDescription" name="VacancyDescription" rows="9" aria-describedby="more-detail-hint">{% if data['VacancyDescription'] %}{{data['VacancyDescription'] }}{% else %}{% endif %}</textarea>
          </div>
        </div>
        <!-- <div class="govuk-character-count" data-module="character-count" data-minlength="50" data-maxlength="500">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="TrainingDescription" >
                  What will the training consist of?
                </label>
                <span id="more-detail-hint" class="govuk-hint ">
                  Describe the training you will be giving and the training they will get from the training provider.
                </span>
                <textarea class="govuk-textarea js-character-count" id="TrainingDescription" name="TrainingDescription" rows="5" aria-describedby="more-detail-hint">{% if data['TrainingDescription']%}{{data['TrainingDescription']}}{% else %}{% endif %}</textarea>
              </div>
</div> -->

        <div class="govuk-character-count govuk-!-margin-bottom-8" data-module="character-count" data-minlength="50" data-maxlength="500">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="TrainingQualification">
              What training will the apprentice take and what qualification will the apprentice get at the end?
            </label>

              <p class="govuk-body">You must include information about the following:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  the qualification they will get at the end. You may want to have a look at the  <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">types of qualifications available (opens in new tab)</a>
                </li>
                <li>where and when the apprentice will do their training. If you can, add detail about the location of the training. It would also be helpful to include if it is a day a week or block release </li>
              </ul>

            <textarea class="govuk-textarea js-character-count" id="TrainingQualification" name="TrainingQualification" rows="9" aria-describedby="more-detail-hint">{% if data['TrainingQualification']%}{{data['TrainingQualification']}}{% else %}{% endif %}</textarea>
          </div>
        </div>
        <div class="govuk-character-count govuk-!-margin-bottom-8" data-module="character-count" data-minlength="50" data-maxlength="500">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="OutcomeDescription">
              What is the expected career progression after this apprenticeship?
            </label>
            <span id="more-detail-hint" class="govuk-hint ">
              You may want to mention specific routes they could take once qualified.
            </span>
            <textarea class="govuk-textarea js-character-count" id="OutcomeDescription" name="OutcomeDescription" rows="9" aria-describedby="more-detail-hint">{% if data['OutcomeDescription'] %}{{data['OutcomeDescription']}}{% else %}{% endif %}</textarea>
          </div>
        </div>
        <div class="govuk-form-group">
          <input type="submit" class="govuk-button" value="Save and preview" />
          <a href="vacancy-preview" class="govuk-body das-button--link">Cancel</a>
        </div>
      </fieldset>
    </form>

  </div>
</div>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
