{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Edit vacancy dates</h1>


      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
            Closing date for applications
          </label>
          <div class="govuk-date-input" id="closing">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-day" name="closing-day"
                  type="number" pattern="[0-9]*" value="01">
              </div>

            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-month" name="closing-month"
                  type="number" pattern="[0-9]*" value="02">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closing-year" name="closing-year"
                  type="number" pattern="[0-9]*" value="2019">
              </div>
            </div>
          </div>
          <br>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                 Information about extending closing dates
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Before you extend the closing date remember that:</p>
              <ul class="list list-bullet">
                  <li>the apprenticeship training you chose may no longer be available</li>
                  <li>the fixed wage may no longer be valid, depending on National Minimum Wage changes</li>
              </ul>
              <p>To change the apprenticeship training or wage on the vacancy, you will need to create a new vacancy</p>
            </div>
          </details>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="start-hint" role="group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
            Possible start date
          </label>
          <span id="start-hint" class="govuk-hint">
            For example, 02 02 2019
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start-day"
                  type="number" pattern="[0-9]*" value="02">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start-month"
                  type="number" pattern="[0-9]*" value="02">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start-year"
                  type="number" pattern="[0-9]*" value="2019">
              </div>
            </div>
          </div>
        </fieldset>

      </div>

      <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="apprenticeship-type">Apprenticeship training</label>
                    <p>Able seafarer (deck)</p>
                </div>
                <div class="govuk-form-group">

      <a href="preview-edit?mode=updated" class="govuk-button">Preview changes</a>
      <a href="javascript:history.back()" class="govuk-body das-button--link">Cancel</a>
      </div>

  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
