{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}


{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Do you know which training provider you will use for this apprenticeship?</h1>
        <p class="govuk-body">Apprentichsp training must be given by a registered training provider.</p>
        <p class="govuk-body">You will need to find a training provider who offers <span class="govuk-!-font-weight-bold">{{data.searchClients}}</span></p>
        <form method="post">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item" >
                <input class="govuk-radios__input" id="hasTrainingProvider_yes" name="hasTrainingProvider" type="radio"
                  value="yes" >
                <label class="govuk-label govuk-radios__label" for="hasTrainingProvider_yes">
                  Yes, I have found a training provider
                </label>
              </div>

              <div class="govuk-radios__item " >
                <input class="govuk-radios__input" id="hasTrainingProvider_no" name="hasTrainingProvider" type="radio"
                  value="no">
                <label class="govuk-label govuk-radios__label" for="hasTrainingProvider_no">
                  No, help me find one.
                </label>
              </div>

            </div>

          </fieldset>
          <div class=" govuk-form-grou govuk-!-margin-top-8">
            {% if query.edit != "yes"%}
              <input type="submit" class="govuk-button" name="continueButton" value="Save and continue"/>
              <a href="../dashboard-new" class="govuk-body das-button--link">Save and exit</a>
            {%else%}
            <input type="submit" class="govuk-button" name="previewdButton" value="Save and continue"/>
            <a href="../vacancy-preview" class="govuk-body das-button--link">Cancel</a>
            {%endif%}
          </div>
        </form>

      </div>
  </div>



{% endblock %}
