.analytics--block{
  margin-bottom:10px;
}
.analytics--header{
  background-color:#CAE7E5;
  padding:7px 10px 5px;
  margin-bottom: 10px;
}
.analytics--numeric{
  font-size: 50px;
  font-weight: 700;
}
.analytics--label{
  font-size:28px;
  font-weight: 400;
}
