{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}

<style media="screen">
  .das-card--row {margin-left:0;}
  .das-card--row .govuk-grid-column-one-third{padding:0;margin-left:-1px}
  .das-tag--new{
    background-color:	#ffffff;
    border:2px solid #005ea5;
    color: #0b0c0c;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-weight:normal;
    padding:3px 5px;
  }
.floating-menu{
  z-index:200;
}
  .das-card .das-card--stat{
    font-size: 24px;
font-size: 1.5rem;
line-height: 1.25;
  }
  .govuk-info-basic{border:1px solid #bfc1c3; padding:20px; margin-bottom: 20px; }
  .govuk-info-basic p{font-size: 16px;}

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- Header -->
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <!-- Heading -->
        <!-- <span class="govuk-caption-xl">Recuitement</span> -->
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Recruitment</h1>
        <!-- Core actions -->
        <!-- <a href="../ALL/create-vacancy-options/create-vacancy" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" name="button">Create a new vacancy</a> -->

      </div>
      <div class="govuk-grid-column-one-third" style="text-align: right;">
        {% if data.user=="employer"%}
        <a href="create-vacancy-options/create-vacancy" class="govuk-button">Create vacancy</a>
        {%else%}
        <a href="create-vacancy-options/employers-select" class="govuk-button">Create vacancy</a>
        {%endif%}
      </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
        <!-- Search -->
        <form action="../vacancies" method="GET" class="govuk-!-margin-top-6">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Search for a client</legend>
            <div class="form-group search-field search-field-darker">
              <div class="search-input search-input-with-button">
                <label class="govuk-label" for="search">
                  Search vacancies
                </label>
                <div class="autocomplete__parent_wrapper">
                  <div class="autocomplete__wrapper">
                    <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                      <span>No search results.</span><span>,,</span>
                    </div>
                    <input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="search" name="search" placeholder="Search by vacancy title, reference number{%if data.user== "provider"%} or employer{%endif%}" role="combobox" type="text">
                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                  </div>
                </div>
              <input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="" style="display: none;">
              <div class="search-submit">
                <button class="button" type="submit" id="searchbutton" name="searchClientsSubmit" value="Search">Search clients</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div> <!-- Header -  govuk-grid-column-two-thirds -->
    </div> <!-- header - govuk-grid-row  -->

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

    <!-- Vacancy -->
    {% if data.alert == 'yes'%}
    <div class="govuk-info-basic ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-!-font-weight-bold">Activity</span>
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">3 vacancies have been approved</a> and are now live, but 1 vacancy has been rejected. <br>You 3 vacancies have received new appliacations. </p>
            </div>
          </div>
    </div>
    {% endif %}
    <div class="govuk-grid-row das-card--row">
      <div class="govuk-grid-column-one-third">
        <div class="das-card">
          <div class="das-card--content">
            <h3 class="govuk-heading-m das-card--heading">
              <span class="das-card--stat">1</span>
              <a class="card-link" href="vacancies?filter=any">
                  Rejected vacancy
              </a>
            </h3>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <h3 class="govuk-heading-m das-card--heading">
              <span class="das-card--stat">2</span>
              <a class="card-link" href="vacancies?filter=any">
                  vacancies pending review
              </a>
            </h3>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h3 class="govuk-heading-m das-card--heading">
              <span class="das-card--stat">1</span>
              <a class="card-link" href="vacancies?filter=any">
                  draft vacancies
              </a>
            </h3> -->
            <h4 class="govuk-heading-xs govuk-!-margin-bottom-0">Vacacnies waiting to go live</h4>
              <ul class="das-card--tasks govuk-list">
                <li>
                  <a class="govuk-link" href="../vacancies?status=pending review">2 vacacnies are pending review</a>
                </li>
                <li>
                  <a class="govuk-link" href="../vacancies?status=draft">8 unfinished draft vacancies</a>
                </li>
                 <!-- <li>
                <a class="govuk-link" href="vacancies?status=closing-no-applications">3 vacacnies recently closed</a>
              </li> -->
              </ul>
          </div>

        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="das-card">
          <div class="das-card--content">
            <h3 class="govuk-heading-m das-card--heading">
              <span class="das-card--stat">11</span>
              <a class="card-link" href="vacancies?filter=any&dashboard=dashboard2">
                  Live vacancies
              </a>
            </h3>
            <p class="govuk-body das-card--description">Vacancies published on Find an Apprenctice service</p>
              <ul class="das-card--tasks govuk-list">
                <li>
                  <a class="govuk-link" href="../vacancies?status=live">2 vacancies were approved and now live</a>
                </li>
                <li>
                  <a class="govuk-link" href="../vacancies?status=closing">6 vacancies are closing soon</a>
                </li>
                <li>
                  <a class="govuk-link" href="../vacancies?status=closing-no-applications&dashboard=dashboard2">3 vacancies are closing soon and have no applications</a>
                </li>

              </ul>
          </div>

        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="das-card">
          <div class="das-card--content">
            <h3 class="govuk-heading-m das-card--heading">
              <span class="das-card--stat">20</span>
              <a class="card-link" href="vacancies?filter=new&dashboard=dashboard2">
                  New applications
              </a>
            </h3>
            <p class="govuk-body das-card--description">Offline vacancies not included</p>
              <ul class="das-card--tasks govuk-list">
                <li>
                  <!-- <span class="das-tag das-tag--new">new</span>  -->
                  <a class="ga-track-anchor-click" href="v../acancies?status=new&dashboard=dashboard2" data-ga-event-category="link - click" >2 vacancies have new New applications</a>
                </li>
                <li>
                  <a class="govuk-link" href="../vacancies?status=closing-no-applications&dashboard=dashboard2">View all 23 vacancies with applications</a>
                </li>
              </ul>
          </div>

        </div>
      </div>



    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <a href="../vacancies?dashboard=dashboard2&filter=any" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">View all your vacancies (36)</a>
        </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- Other actions  -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third ">
        <h3 class="govuk-heading-s"><a class="govuk-link  govuk-link--no-visited-state" href="reports/dashboard">Reports</a></h3>
        <p>Create a report about applicants or vacancies</p>
      </div>

    </div>

  </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->
<script type="text/javascript">
  function defer(method) {
      if (window.jQuery) {
          method();
      } else {
          setTimeout(function() { defer(method) }, 50);
      }
  }
  window.onresize = function(event) {
    resize()

  };
  function resize(){

    var maxHeight = 0;
    $(".das-card--row").attr('data-height', maxHeight)
    console.log("--- resizing ---")

    $(".das-card").each(function(){
      var row = $(this).parent().parent();
      console.log("element height: "+$(this).find('.das-card--content').height() + " || MaxHeight: "+ row.attr('data-height'))
       if ($(this).find('.das-card--content').outerHeight() > row.attr('data-height') ){
          maxHeight =  $(this).find('.das-card--content').outerHeight()
          row.attr('data-height', maxHeight)
        }
    });
    console.log($(".das-card--row").attr('data-height'))
    $(".das-card").each(function(){
      var newHeight = $(this).parent().parent().attr('data-height')
      $(this).height(newHeight)
    })
  }
  defer(function () {
    resize()
  });
</script>
{% endblock %}
