{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Business Administration Apprentice{% endif %} vacancy</span> -->
    <h1 class="govuk-heading-xl">
      Confirm the training provider
    </h1>
    <div class="das-confirm-card" style="background-color:#f4f4f4;padding:20px;margin-bottom:30px;">
      <h2 class="govuk-heading-m">{{data.providerName}}<span class="govuk-caption-m">16 Dorrington Ave, Coventry, CV1 6HX<br>UKPRN: 10004319</span></h2>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="select-training-provider">Change provider</a><br></p>
    </div>


    <form method="post">
        <div class="govuk-form-group">
          {% if data.change == "yes"%}
            <button type="submit" class="govuk-button" data-module="govuk-button" name="previewdButton" value="Save and continue">Save and preview</button>
            <a href="../account/preview-edit" class="govuk-body das-button--link">Cancel</a>

          {% elseif data.edit != "yes"%}
            <button type="submit" class="govuk-button" data-module="govuk-button" name="previewdButton" value="Save and continue">Save and continue</button>
            <a href="../dashboard-new" class="govuk-body das-button--link">Cancel</a>
          {%else%}
            <button type="submit" class="govuk-button" data-module="govuk-button" name="previewdButton" value="Save and continue">Save and preview</button>
            <a href="vacancy-preview?edit=no" class="govuk-body das-button--link">Cancel</a>
          {%endif%}
        </div>
      </form>
  </div>
</div>
{% block help %}
{% include "includes/service-help.html" %}
{% endblock %}
{% endblock %}
