
{% extends "ma-layout.html" %}

{% block pageTitle %}
  Access Denied
{% endblock %}
{% block beforeContent%}
{{ super() }}
    <a href="/" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot access this section</h1>
      <p class="govuk-body">This section is only open to employers taking part in our development testing</p>
    </div>
</div>

{% endblock %}
