{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{data.dashboard}}/dashboard ">Back to recruitment dashboard</a>
        </li>

      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<style media="screen">
  .govuk-heading-s{
    margin-bottom: .3125em;
  }
  .das-edit-link{margin-top:-10px}
</style>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {% if query.title %}{{query.title}}{%else%}Business Apprenticeship{%endif%}
      <span class="govuk-caption-l">{%if query.orgName%}{{query.orgName}}{%else%}Bill Snoggins IT{%endif%}</span>
    </h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">Brief overview</h3>
    <p class="govuk-body">As a Software Developer Apprentice, you will be undertaking a recognised apprenticeship qualification, including Microsoft certifications, at the same time as working as part of the company’s Software Development team.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Closing date</h3>
    <p class="govuk-body">01 Jan 2019</p>
  </div>
</div>

<div class="govuk-grid-row" id="apprenticeshipSummary">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Apprenticeship summary</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      <li>
        <h3 class="govuk-heading-s">Working week</h3>
        <p class="govuk-body">Monday to Friday 9am to 5pm</p>
        <p class="govuk-body">Total hours per week: 40</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Yearly wage</h3>
        <p class="govuk-body">£175.00</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Expected duration</h3>
        <p class="govuk-body">1 Year</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Possible start date</h3>
        <p class="govuk-body">24 Dec 2018</p>
      </li>

      <li>
        <h3 class="govuk-heading-s">Apprenticeship level</h3>
        <p class="govuk-body">Advanced Level Apprenticeship</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Reference number</h3>
        <p class="govuk-body">VAC001485669</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Positions</h3>
        <p class="govuk-body">2 positions available</p>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-two-thirds" id="vacancyDescription">
    <ul class="govuk-list">
      <li>
        <h3 class="govuk-heading-s">What you will do in your working day</h3>
        <p class="govuk-body">You’ll work as part of the team to learn about the latest technologies used to deliver what is needed, including C# within the MVC framework, supported by the use of test driven development (TDD), continuous integration using Team City and continuous deployment using Octopus Deploy.</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">The training you will be getting</h3>
        <p class="govuk-body">As a Microsoft Software Developer Apprentice your main role and responsibilities will include:</p>
        <ul class="govuk-list govuk-list--bullet">
        	<li>Learning how to collate feature requests</li>
        	<li>Providing frontline helpdesk support</li>
        	<li>Growing into projects</li>
        	<li>Basic Programming</li>
        	<li>Becoming a valued part of the Software Development team</li>
        	<li>Helping existing staff with front-end development using Octopus Deploy Technology</li>
        	<li>Being responsible for extracting data and processing the extracted data</li>
        	<li>Gaining on the job experience and being able to utilise the skills you have gained over the duration of your apprenticeship</li>
        	<li>Learning and developing skills in integration management using Team City technology</li>
        	<li>Updating software and systems development</li>
        </ul>
      </li>

    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Requirements and prospects</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s">Desired skills and personal qualities</h3>
    <ul class="govuk-list govuk-list--bullet">
  	<li>Experience within a customer service, administration or sales role is preferred but not essential</li>
  	<li>Excellent communication skills</li>
  	<li>Fantastic customer service skills</li>
  </ul>
      <h3 class="govuk-heading-s">Qualifications</h3>
    <ul class="govuk-list govuk-list--bullet">
	<li>You must have at least a C grade for Maths &amp; English at GCSE (or equivalent)</li>
	<li>A GCSE, BTEC or A/S Level in Business Admin or Business Studies would be beneficial</li>
</ul>

  </div>

  <div class="govuk-grid-column-one-half">

    <h3 class="govuk-heading-s">Things to consider</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>The company require a bright, enthusiastic and hard-working individual with a genuine desire to learn and build a career in the IT sector</li>
      <li>You will have a friendly personality and be able to work as part of a team</li>
      <li>Keen interest in IT</li>
      <li>Use of own initiative</li>
      <li>Personable</li>
      <li>Hardworking</li>
      <li>Reliable<br>
      &nbsp;</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">About the employer</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li>
        <h3 class="govuk-heading-s">Description</h3>
        <p class="govuk-body">{% if data.EmployerDescription %}{{data.EmployerDescription}}{% endif %}</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Employer</h3>
        <p class="govuk-body">Organisation 1</p>
      </li>
      <li>
        <h3 class="govuk-heading-s">Disability Confident</h3>
        <img src="https://recruit.test-eas.apprenticeships.sfa.bis.gov.uk/img/disability-confident_545x172.png" class="das-disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              About disability confident
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Disabled candidates are generally guaranteed an interview if you meet the minimum requirements for this vacancy. Contact the employer for full details.</p>

            <p>Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

            <p>The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.provide your nationality, you’ll have to send copies of identity documents through the post.</p>
          </div>
        </details>
      </li>
      <li>

        <h3 class="govuk-heading-s">Website (optional)</h3>
        <p class="govuk-body">http://www.organisation.co.uk</p>
        <!-- <a href="#" class="govuk-link">Edit</a> -->
      </li>
    </ul>
  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s">Location</h3>
    <ul class="govuk-list">
      <li>Cheylsmore House</li>
      <li>5 Quinton Road</li>
      <li>Coventry</li>
      <li>West Midlands</li>
      <li>CV1 2WT</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-half">
    <img id="static-map" src="https://maps.googleapis.com/maps/api/staticmap?markers=52.400997,-1.508122&amp;size=465x256&amp;zoom=12&amp;client=gme-skillsfundingagency&amp;signature=lCuCTEI-K25bn1YgDLOSpzopvFk=" alt="Location map">
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Training provider</h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h3 class="govuk-heading-s">Training provider</h3>
      <p class="govuk-body">{{data.providerName}}</p>
    </div>
    <ul class="govuk-list">
      <li>
        <h3 class="govuk-heading-s">Apprenticeship Framework</h3>
        <p class="govuk-body">Technical Theatre, Lighting, Sound and Stage: Lighting</p>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Contact details (optional)</h3>
    <p class="govuk-body">
      Bill Shoggins<br>
      bill@shogginsIT.co.uk<br>
      Tel: 090 0034 3234
    </p>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      {% if not data.ApplicationUrl %}Application process{% else %}Employer's Application Instructions{%endif%}
    </h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p>Candidates will apply through the <a href="https://www.gov.uk/apply-apprenticeship" rel="noopener" target="_blank">Find an apprenticeship service</a>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="../{{data.dashboard}}/dashboard " class="govuk-link">Return to dashboard</a>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
