{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/KK1KM/" target="_blank">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">{% if data.title %}{{data.title}}{% else %}Developer apprenticeship{% endif %}</h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <form method="post">
              <div class="govuk-character-count govuk-input--width-50" data-module="character-count" data-minlength="50" data-maxlength="500">

                <div class="govuk-form-group">
                  <label class="govuk-label visiual" for="EmployerDescription">Tell us about the organisation</label>
                    <textarea class="govuk-textarea js-character-count"  rows="5" data-val-length-max="500" id="EmployerDescription" name="EmployerDescription">{% if data.EmployerDescription %}{{ data.EmployerDescription}}{%endif%}</textarea>
                </div>
                </div>
                <div class="govuk-form-group">
                    {% set lastletter = data.orgName | reverse %}
                    {% set lastletter = lastletter.charAt(0) %}
                    <label class="govuk-label" for="EmployerWebsiteUrl">
                      <!-- {% if lastletter == "s" %}
                    	{{data.orgName}}'
                    	{% else %}
                    	{{data.orgName}}'s
                      {% endif %}
                      website (optional) -->
                      The organisation's website (optional)
                    </label>
                    <input class="govuk-input govuk-input--width-30" maxlength="100" type="text" id="EmployerWebsiteUrl" name="EmployerWebsiteUrl" value="{% if data.EmployerWebsiteUrl %}{{data.EmployerWebsiteUrl}}{%endif%}">
                </div>
              <div class="govuk-form-group">
                <input type="submit" value="Save and continue" class="govuk-button save-button" data-automation="btn-continue">
                <a class="govuk-body das-button--link" href="vacancy-preview/" data-automation="link-cancel">Cancel</a>
              </div>
              </form>
          </div>
      </div>
      </div>
  </div>

  </main>
</div>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
