{% extends "tp-layout.html" %}

{% block pageTitle %}
Vacancies
{% endblock %}
{% block beforeContent %}
<style>
  .search-field-darker .search-input input {
    border-color: #0b0c0c;
    height: 41px;
  }
  .search-submit button{
    background-color: 	#005ea5;
    height: 41px;
  }
  .search-submit{
    height: 41px;

  }
  span.das-tag {
    background: transparent;
    border:3px solid #bfc1c3;
    color: #0b0c0c;
    font-weight:400;
  }

  span.das-tag--rejected{
    border-color: #B10E1E;
    color:#000000;
  }
  span.das-tag--closed{
    border-color: #0b0c0c;

  }
  span.das-tag--live {
      border-color: #006435;
  }
  span.das-tag--submitted {
      border-color: #F47738;
  }

  .accordion-controls{display:none !important;}
  .das-table__header--sort{font-weight: normal}
  .annotate{
  	font-style: italic;
  	color: #366ED4;
  }




  .hidden {
  	display: none;
  }

  .toolbar {
  	font-size: 0;
  }

  .toolbar-item {
  	border: 1px solid #aaa;
  	background: #ccc;
  }

  .toolbar-item[aria-disabled="false"]:focus {
  	background-color: #eee;
  }

  .offscreen {
  	clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  	font-size: 18px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .das-button-filter{
    display:inline-block;
    margin-bottom: 0;
  }
</style>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Vacancies</h1>
    <!-- <a href="create-vacancy-options/create-vacancy" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold">Create a new vacancy</a> -->
  </div>
  <div class="govuk-grid-column-one-third" style="text-align:right;">
    {% if data['user'] == "employer" %}
    <a href="create-vacancy-options/create-vacancy?returnDashaboard=multiple&user=employer" class="govuk-button">Create vacancy</a>
    {% else %}
    <a href="create-vacancy-options/employers-select?returnDashaboard=multiple&user=employer" class="govuk-button">Create vacancy</a>
    {% endif %}
  </div>
</div>
<!-- Set the pagination variables -->
{% if data.page %}{% set page = data.page %}{% else %}{% set page = 1 %}{% endif %}
{% set totalVacancies = data.vacancies.length %}
{% set currentMax= data.page*data.vacanciesPerPage%}
{% set currentMin =(((data.page-1)*data.vacanciesPerPage)+1) | int %}
{% set totalPages = (data.vacancies.length/data.vacanciesPerPage) | round(0,"ceil") %}
<form method="post" action="./dashboard-no-js" {% if data.search %}data-query="{{data.search}}"{%endif%}>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <!-- accordion -->

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Filter vacancies by
      </label>
      <select class="govuk-select" id="filter" name="filter" aria-haspopup="listbox" aria-labelledby="exp_elem exp_button">
        <optgroup label="Status">
        <option value="any" {% if data.filter == 'any' or not data.filter %}selected="selected"{%endif%}>All vacancies ({{totalVacancies}})</option>
        <option value="live" {% if data.filter == 'live' %}selected="selected"{%endif%}>Live vacancies (11)</option>
        <!-- <option value="new" {% if data.filter == 'new' %}selected="selected"{%endif%}>with applications (20)</option> -->
        <option value="rejected" {% if data.filter == 'rejected' %}selected="selected"{%endif%}>Rejected vacancies (2)</option>
        <option value="pending review" {% if data.filter == 'pending review' %}selected="selected"{%endif%}>Pending review vacancies (2)</option>
        <option value="draft" {% if data.filter == 'draft' %}selected="selected"{%endif%}>Draft vacancies (4)</option>
        <option value="closed" {% if data.filter == 'closed' %}selected="selected"{%endif%}>Closed (17)</option>

        </optgroup>
        <optgroup label="applications">
          <option value="new" {% if data.filter == 'new' %}selected="selected"{%endif%}>with new applications (3)</option>
          <option value="withApplication" {% if data.filter == 'withApplication' %}selected="selected"{%endif%}>with applications (25)</option>
        </optgroup>
      </select>
      <button type="submit" id="filter-submit" class="das-button-filter das-button-secondary govuk-button govuk-!-margin-top-4" >Filter vacancies</button>
    </div>


    <!-- accordion -->
  </div>
  <div class="govuk-grid-column-two-thirds">
      <div class="row-group">
        <div class="search-table column-two-thirds govuk-!-margin-bottom-4">
          <fieldset class="govuk-fieldset">
            <div class="form-group search-field search-field-darker">
              <input type="hidden" name="clientsFilter" value="new">
              <div class="search-input ">
                <label class="govuk-label" for="search">
                  <!-- Client reference -->
                  Search vacancies
                  <!-- <span class="govuk-hint">Search for a team member by name, role or email</span> -->
                </label>
                <div class="autocomplete__parent_wrapper">
                  <div class="autocomplete__wrapper">
                    <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                      <span>No search results.</span>
                      <span>,,</span>
                    </div>
                    <p id="search-default-value" class="hidden">{% if data.search %}{{data.search}}{% endif%}</p>

                    <input class="govuk-input search-without-button" name="search" id="search" type="text" value="{%if data.search %}{{data.search}}{%endif%}" placeholder="search vacancies by title, ID or employer">
                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                  </div>
                </div>

              </div>
              <div class="search-submit" style="display:none">
                <button class="button" type="submit" id="searchSubmit" name="searchSubmit" value="Search">Search clients</button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

  </div>
</div>
</form>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      {% if data.filter == 'any' or not data.filter %}{% if data.search%}{%else%}All{%endif%} <span class="displayTotal">36</span> vacancies {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span> <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>{%endif%}
      {% elseif data.filter == 'live' %}<span class="displayTotal">11</span> <span class="govuk-!-font-weight-bold">Live</span> vacancies {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span> {%endif%}&nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'new' %}<span class="displayTotal">2</span> vacancies <span class="govuk-!-font-weight-bold">with new applications</span> {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>  {%endif%} &nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'withApplication' %}<span class="displayTotal">2</span> vacancies <span class="govuk-!-font-weight-bold">"with applications"</span> {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>  {%endif%} &nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'rejected' %}<span class="displayTotal">2</span> <span class="govuk-!-font-weight-bold">Rejected</span> vacancies &nbsp; {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>  {%endif%} &nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'draft' %}<span class="displayTotal">4</span> <span class="govuk-!-font-weight-bold">Draft</span> vacancies {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span> {%endif%}<a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'closed' %}<span class="displayTotal">11</span> <span class="govuk-!-font-weight-bold">Closed</span> vacancies {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>  {%endif%} &nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'pending review' %}<span class="displayTotal">2</span> <span class="govuk-!-font-weight-bold">Pending review</span> vacancies {% if search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>  {%endif%} &nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'closing' %}<span class="displayTotal">3</span> vacancies <span class="govuk-!-font-weight-bold">closing soon</span><span class="govuk-!-font-weight-bold"> {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span> {%endif%}<a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% elseif data.filter == 'closing-no-applications' %}<span class="displayTotal">1</span> vacancies <span class="govuk-!-font-weight-bold">live vacancies closing soon with no applications</span> {% if data.search %}with <span class="govuk-!-font-weight-bold">{{data.search}}</span>{%endif%}&nbsp; <a href="dashboard-no-js?filter=any&page=1&search=" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
      {% endif %}
    </p>


      <!-- DATA -->
      <div class="govuk-visually-hidden">
        {% for i in locations %}
        <span class="data-orgs">ABC Opticians {{i}}</span>
        {% endfor %}
      </div>

      <div class="govuk-visually-hidden">
        {% for p in providers %}
        <span class="data-providers">{{p}}</span>

        {% endfor %}
      </div>


      {% set displayCount = [] %}
      <!-- {% set displayIndex = cycler(range(totalVacancies)) %} -->
      <table class="govuk-table responsive-table {%if data.user=="provider"%}das-table--small{% endif %}">
        {% if data['user'] == 'employer' %}
        {% block employertablehead %}{% include "./includes/employer-table-header.html" %}{% endblock %}
        {% else %}
        {% block providertablehead %}{% include "./includes/provider-table-header.html" %}{% endblock %}
        {% endif %}

        <tbody class="govuk-table__body">
          <!-- set count to capture other vacancies under the search -->
          {% set allVacanciesCount = [] %}
          {% for vacancy in data['vacancies'] %}
            {% if data.search %}

              {% if data.search in vacancy.title or data.search in vacancy.employer %}
                  {% set allVacanciesCount = (allVacanciesCount.push(1),allVacanciesCount) %}
              {% endif %}
            {% endif %}
            {% if data['user'] == 'employer' %}
              {% block employerlist %}{% include "./includes/employer-vacancy.html" %}{% endblock %}
            {% else %}
              <div style="display:none;">
                <span class="data-id">{{vacancy.VAC}}</span>
                <span class="data-orgs">{{vacancy.employer}}</span>
                <!-- <span class="data-orgs">{%set employer = data.employers | random %}{{employer.businessName}}</span> -->
              <div>
                {% if data.search %}
                  {% block providerlistsearch  %}{% include "./includes/provider-vacancy-no-js.html" %}{% endblock %}
                {% else %}
                  {% block providerlist %}{% include "./includes/provider-vacancy.html" %}{% endblock %}
                {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      {% if totalVacancies != (displayCount | length)%}
      {% set totalVacancies = (displayCount | length)%}
      {% endif %}

        <div class="pager das-pager" aria-hidden="false" style="margin-top:0" data-paging="">
          {% if totalVacancies > data.vacanciesPerPage %}

          <div class="pager-controls das-pager-controls">
            {% if data.page != 1%}
            <a class="pager-prev das-pager-prev" href="?page={{data.page | int -1}}">Prev</a>
            {% endif %}
            <ul class="pager-items das-pager-items">

              {% for count in range(0, totalPages)%}
                  {% if page == (count+1) %}
                    <li data-page-number="count">{{count+1}}</li>
                  {% else %}
                    <li data-page-number="count"><a href="?page={{count+1}}">{{count+1}}</a></li>
                  {% endif %}

              {% endfor %}
              </ul>
            {% if data.page != totalPages%}
            <a class="pager-next das-pager-next" href="?page={{data.page | int +1}}" aria-hidden="false">Next</a>
            {% endif %}
          </div>
          {% endif %}
          {% if totalVacancies != 0%}
            <div class="das-pager-summary">Showing {{currentMin}} to {% if currentMax < totalVacancies %}{{currentMax}}{%else%}{{totalVacancies}}{%endif%} of <span id="totalVacancies">{{totalVacancies}}</span> vacancies</div>
          {% else %}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <div class="das-pager-summary">No vacancies match the search criteria</div>
          <span id="totalVacancies" style="display:none">0</span>

          {% endif %}

        </div>
        <!-- END table -->
      </div>
    </div>
{% endblock %}
