
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% from "back-link/macro.njk" import govukBackLink %}


  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Recruitment</h1>

        <!-- Version block start -->
        <div class="version govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Employer</h2>
          <ul class="govuk-list">
            <li class="govuk-list--item"><a href="vacancies?alert=withdrawn&filter=any&search=&user=employer&multiple_revokes=&has_multiple_closed=">1 vacancy withdrawn (closed)</a></li>
            <li class="govuk-list--item"><a href="vacancies?alert=withdrawn&filter=&page=1&search=&has_multiple_closed=yes&user=employer">multiple vacancies withdrawn</a></li>
            <li class="govuk-list--item"><a href="account/manage-vacancy-closed?is_withdrawn=yes&user=employer">Withdrawn Managed vacancy </a></li>
          </ul>
          <h2 class="govuk-heading-m">Providers</h2>
          <ul class="govuk-list">
            <li class="govuk-list--item">From dashboard</li>
            <li class="govuk-list--item"><a href="dashboard?alert=withdrawn&filter=any&search=&user=provider&multiple_revokes=&has_multiple_closed=">1 vacancy closed</a></li>
            <li class="govuk-list--item"><a href="dashboard?alert=withdrawn&filter=&page=1&search=&has_multiple_closed=yes&user=provider">multiple vacancies closed</a></li>
            <br><li class="govuk-list--item">From vacancy page</li>
            <li class="govuk-list--item"><a href="vacancies?alert=withdrawn&filter=any&search=&user=provider&multiple_revokes=&has_multiple_closed=">1 vacancy closed</a></li>
            <li class="govuk-list--item"><a href="vacancies?alert=withdrawn&filter=&page=1&search=&has_multiple_closed=yes&user=provider">multiple vacancies closed</a></li>
            <li class="govuk-list--item"><a href="vacancies?alert=withdrawn&clientsFilter=new&search=VAC1000000597&filter=any&searchSubmit=Search&user=provider">Alert with search</a></li>

            <br>
            <li class="govuk-list--item"><a href="account/manage-vacancy-closed?is_withdrawn=yes&user=provider">Withdrawn Managed vacancy </a></li>
          </ul>
        </div>


      </div>
  </div>


{% endblock %}
