{% extends "layout.html" %}
{% block beforeContent %}
<div id="global-header-bar"></div>
<link href="/public/stylesheets/faa.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block pageTitle %}
Find an apprentice
{% endblock %}

{% block content %}

    <div class="sfa-navigation-wrapper">
        <div class="grid-row">
            <div class="column-one-half sfa-navigation">

    <div id="bannerSignedOut">
            <a href="/signin?ReturnUrl=%2Fapprenticeship%2F1000002817" id="loginLink" title="Sign in / Create account"><i class="fa fa-sign-in"></i>Sign in / Create account</a>
    </div>

            </div>
        </div>
    </div>






    <div itemscope="" itemtype="http://schema.org/JobPosting">

        <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
            HR Apprentice
            <span class="heading-secondary" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">Panasonic Business Support EUR GMBH UK</span>
        </h1>
    </div>
    <div class="column-one-third">
        <ul class="list sfa-align-right-tablet sfa-xlarge-top-margin">
                <li>
                    <a href="/apprenticeships?SearchField=All&amp;Keywords=&amp;Location=CV1+2WT&amp;WithinDistance=5&amp;ApprenticeshipLevel=All&amp;DisabilityConfidentOnly=false&amp;Latitude=52.400997&amp;Longitude=-1.508122&amp;Hash=-218207335&amp;SearchMode=Keyword&amp;Category=&amp;LocationType=NonNational&amp;sortType=Distance&amp;SearchAction=Search&amp;resultsPerPage=5&amp;DisplayDescription=true&amp;DisplayDistance=true&amp;DisplayClosingDate=true&amp;DisplayStartDate=true&amp;DisplayApprenticeshipLevel=false&amp;DisplayWage=false" title="Return to search results" id="lnk-return-search-results">Return to search results</a>
                </li>

            <li class="hide-nojs">
                <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
            </li>

                <li>
                    <a href="/apprenticeship/reportthisvacancy/1000002817" id="lnk-report-this-vacancy">Report this vacancy</a>
                </li>
        </ul>
    </div>
</div>

            <section class="grid-row">
                <div class="column-two-thirds">
                    <div itemprop="description">
                        <p id="vacancy-description" class="preserve-formatting">Here at Panasonic we are looking for an enthusiastic and driven apprentice to join our busy HR team. If you think you can build relationships, communicate at all levels and make a different to the lives of our employees, then this is the opportunity for you!</p>
                    </div>
                </div>
                <div class="column-one-third">



    <a role="button" id="apply-button" class="button button-with-hint" title="Sign in to apply" href="/apprenticeship/apply/1000002817" onclick="Webtrends.multiTrack({ element: this, argsa: ['DCS.dcsuri', '/apprenticeship/apply/signin/1000002817', 'WT.dl', '99', 'WT.ti', 'Apprenticeship – Sign In to Apply', 'DCSext.buttonPos', 'Top'] });">Sign in to apply</a>

    <p id="vacancy-closing-date" class="font-xsmall">Closing date: 11 Aug 2019</p>

                </div>
            </section>
            <section class="grid-row" id="vacancy-info">
                <div class="column-full">
                    <h2 class="heading-large">Apprenticeship summary</h2>
                </div>
                <div class="column-one-third">
                    <ul class="list">
                        <li class="sfa-if-first">
                            <h3 class="heading-small">Annual wage</h3>

                                <p id="vacancy-wage">
                                    £13,000.00
                                </p>

                                <p id="vacancy-wage-text">We offer many benefits including an annual bonus, 25 days holiday (plus UK bank holidays), discounted products, bi-annual salary reviews against performance, additional development and training options, pension, and many other voluntary benefits.</p>






                        </li>
                        <li>
                            <h3 class="heading-small">Working week</h3>
                            <p id="vacancy-working-week" itemprop="workHours" class="sfa-small-bottom-margin">Monday - Friday 9:00am - 5:30pm (7.5 hours per day with a 1-hour unpaid lunch break).</p>
                                <p id="total-hours-per-week">Total hours per week: 37.5</p>
                        </li>
                        <li>
                            <h3 class="heading-small">Expected duration</h3>
                            <p id="vacancy-expected-duration">2 Years</p>
                        </li>
                        <li>
                            <h3 class="heading-small">Possible start date</h3>
                            <p id="vacancy-start-date">02 Sep 2019</p>
                        </li>
                        <li>
                            <h3 class="heading-small">Date posted</h3>
                            <p id="vacancy-posted-date">yesterday</p>
                        </li>
                        <li>
                        </li>
                        <li>
                            <h3 class="heading-small">Apprenticeship level</h3>
                            <p id="vacancy-type" itemprop="employmentType">Advanced <br>Level 3 (equivalent to A Level)</p>
                        </li>
                        
                        <li>
                            <h3 class="heading-small">Reference number</h3>
                            <p id="vacancy-reference-id">VAC1000002817</p>
                        </li>
                        <li>
                            <h3 class="heading-small">Positions</h3>
                            <p id="number-of-positions">1 available</p>
                        </li>
                    </ul>
                </div>
                <div class="column-two-thirds">
                    <div itemprop="responsibilities" class="sfa-if-first">
                        <div id="vacancy-full-descrpition" class="sfa-text-editor-generated preserve-formatting">
                            <h3 class="heading-small">What you will do in your working day</h3>
                            <p>As our HR Apprentice, example tasks will include:</p>
<ul>
<li>Updating and maintaining HR databases and systems</li>
<li>Preparing contracts and letter</li>
<li>Organising exit interviews and probation meetings</li>
<li>Liaising with Payroll</li>
<li>Be the main contact for the HR inbox and respond to queries</li>
<li>Carrying out employee induction meetings</li>
<li>Assisting with the recruitment process of Industrial Placement and Apprentice Schemes</li>
<li>Supporting new starters when they join the business</li>
<li>Managing the Early Careers social media channels</li>
</ul>

                            <h3 class="heading-small">The training you will be getting</h3>
                            <p>As our apprentice you will undertake a Level 3 HR Support course at Bracknell &amp; Wokingham College. We tailor training to the individual's development needs, so whether its Excel, company product knowledge, email best practice or something else, we will work with you to discover what you need.</p>

                            <h3 class="heading-small">What to expect at the end of your apprenticeship</h3>
                            <p>Upon completion of the Level 3 HR Support course, we may be able to offer further training opportunities as an apprentice or if a permanent position is available then you could be considered for this opportunity.</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin">
            <section class="grid-row" id="course-info">
                <div class="column-full">
                    <h2 class="heading-large">Requirements and prospects</h2>
                </div>
                <div class="column-one-half">
                        <div class="sfa-if-first">
                            <h3 class="heading-small">Desired skills and personal qualities</h3>
                            <div id="vacancy-skills-required" class="sfa-text-editor-generated preserve-formatting" itemprop="skills">
                                Communication skills, IT skills, Attention to detail, Organisation skills, Customer care skills, Problem solving skills, Presentation skills, Administrative skills, Team working, Creative, Initiative, Confidential, Time Management, Prioritisation, Empathy, Resilient
                            </div>
                        </div>
                                            <div class="sfa-if-first">
                            <h3 class="heading-small">Qualifications</h3>
                            <div id="vacancy-qualifications-required" class="sfa-text-editor-generated " itemprop="qualifications">
                                GCSE or equivalent English Language (Grade C or above) Essential<br>GCSE or equivalent Maths (Grade C or above) Essential<br>A Level or equivalent Business Studies (Grade C or above) Desired
                            </div>
                        </div>
                </div>
                <div class="column-one-half ">
                </div>
            </section>
            <hr class="sfa-no-bottom-margin">
        <section class="grid-row" id="employer-info">
            <div class="column-full">
                <h2 class="heading-large">About the employer</h2>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div>
                            <div id="vacancy-employer-description" class="sfa-text-editor-generated preserve-formatting">
                                A multinational technology company who focus on improving the everyday lives of customers through our products. Fantastic opportunities will give you an insight into the business world from the perspective of a leading company. Products from Consumer and B2B ranges include 4K TVs and Toughbook Laptops. We offer variety and opportunity to learn and you will be a vital member of the team. Our culture is one where active contribution, ideas for development and innovation are encouraged.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-one-half">
                        <div>
                            <h3 class="heading-small">Employer</h3>
                            <p id="vacancy-employer-name" class="sfa-no-bottom-margin">Panasonic Business Support EUR GMBH UK</p>


                                    <p>
                                        <a itemprop="url" href="https://www.panasonic.com/uk/" id="vacancy-employer-website" title="Panasonic Business Support EUR GMBH UK Website">https://www.panasonic.com/uk/</a>
                                    </p>
                                <div id="vacancy-address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <h3 class="heading-small">Address</h3>
                                    <div itemprop="address">
                                        <p class="sfa-small-bottom-margin" itemprop="streetAddress">Maxis 2</p>
                                        <p class="sfa-small-bottom-margin" itemprop="streetAddress">Western Road</p>
                                        <p class="sfa-small-bottom-margin" itemprop="streetAddress">Bracknell</p>
                                        <p class="sfa-small-bottom-margin" itemprop="addressLocality"></p>
                                        <p class="sfa-small-bottom-margin" itemprop="addressRegion"></p>
                                        <p class="sfa-small-bottom-margin" itemprop="postalCode">RG12 1RT</p>
                                    </div>
                                </div>
                                  {% if data.user== "provider"%}
                                                            <h3 class="heading-small">Contact</h3>
                                                                                        <p>
                                    <a id="employer-contact-email" href="mailto:Recruitment@panasonic.co.uk">Recruitment@panasonic.co.uk</a>
                                </p>
                                                            <p id="employer-contact-phone">01344 853385</p>
                                                            {% endif%}
                        </div>
                    </div>
                    <div class="column-one-half hide-print">
                        <div id="vacancy-map" class="ad-details__map">
                            <div class="map-overlay" onclick=" style.pointerEvents='none' "></div>
                                <iframe width="700" height="250" title="Map of location" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=RG12 1RT,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                            <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="sfa-no-bottom-margin">
        <section class="grid-row" id="provider-info">
            <div class="column-full">
                <h2 class="heading-large">Training</h2>
            </div>

            <div class="column-one-half">
                  <div>
                      <h3 class="heading-small">Training provider</h3>
                      <p id="vacancy-provider-name">
                        WARWICKSHIRE COLLEGE
                      </p>
                  </div>
                  {% if data.user== "provider"%}
                          <h3 class="heading-small">Contact</h3>
                                              <p id="employer-contact-name">Neil Warnock <br>

                                              <a id="employer-contact-email" href="mailto:neil@company.co.uk">neil@company.co.uk</a><br>

                                              <span id="employer-contact-phone">07814 3423423</span>
                                                          </p>
                                              {% endif %}
            </div>
            <div class="column-one-half">
                <div>
                        <h3 class="heading-small">Apprenticeship standard</h3>
                    <p id="vacancy-framework">HR Support: Level 3 <br>Advanced (equivalent to A level)</p>
                </div>
            </div>
            </section>
            <hr class="sfa-no-bottom-margin">
                <section id="before-apply" class="grid-row">
                    <div class="column-full">
                        <h2 class="heading-large">Before you apply</h2>
                    </div>
                    <div class="column-two-thirds">
                        <p>Before you apply for an apprenticeship you must first create an account. If you already have an account you'll need to sign in.</p>
                    </div>
                </section>
                <hr class="sfa-no-bottom-margin">
    </div>





{% endblock %}
