{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Are you sure you want to remove the vacancy?
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="delete_yes" name="ConfirmDeletion" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="delete_yes">
              Yes, delete this vacancy now
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="delete_no" name="ConfirmDeletion" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="delete_no">
              No, don't delete this vacancy
            </label>
          </div>

      </fieldset>
    </div>
    <button type="submit" class="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
