
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% from "back-link/macro.njk" import govukBackLink %}


  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">RVDB-14 - provider search  </h1>
        <p class="govuk-body"><a href="https://skillsfundingagency.atlassian.net/browse/RVDB-14" class="govuk-link">View on Jira</a></p>

        <!-- Version block start -->
        <div class="version govuk-!-margin-bottom-8">
          <!-- <h2 class="govuk-heading-m">Existing provider</h2> -->
          <ul class="govuk-list">
            <li class="govuk-list--item"><a href="./dashboard-multiple?user=provider">Dashboard with search</a></li>
            <li class="govuk-list--item"><a href="./dashboard-10?user=provider&filter=any&search=">Dashboard with less 10 vacancies: no search or filter</a></li>
            <li class="govuk-list--item"><a href="./dashboard-multiple?clientsFilter=any&search=NHS+%28employer%29&searchSubmit=Search&user=provider">Search NHS(employer)</a></li>
            <li class="govuk-list--item"><a href="./dashboard-multiple?clientsFilter=live&search=NHS+%28employer%29&searchSubmit=Search&user=provider">Search and filter</a></li>
            <br>
            <li class="govuk-list--item"><a href="./dashboard-multiple?clientsFilter=new&search=ESFA&searchSubmit=Search&user=provider">No results.</a></li>
            <li class="govuk-list--item"><a href="./dashboard-no-js?filter=any&user=provider&page=1&search=">no Javascript</a></li>
          </ul>
        </div>


      </div>
  </div>


{% endblock %}
