{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change the closing date {%if query.closingdate=="new"%}and{%else%}or{%endif%} start date</h1>

      {%if query.closingdate=="new"%}<div class="govuk-inset-text">The vacancy you are copying has a closing date or start date that is in the past. Add new dates.</div>{% endif %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
            Application closing date
          </label>
          <span id="closing-hint" class="govuk-hint">
            For example, 19 01 2019
          </span>
          <div class="govuk-date-input" id="closing">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-day" name="closing-day"
                  type="number" pattern="[0-9]*" value="{%if query.closingdate!='new'%}03{%endif%}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-month" name="closing-month"
                  type="number" pattern="[0-9]*" value="{%if query.closingdate!='new'%}05{%endif%}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closing-year" name="closing-year"
                  type="number" pattern="[0-9]*" value="{%if query.closingdate!='new'%}2019{%endif%}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="start-hint" role="group">
          <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
            When is the apprentice expected to start?
          </label>
          <span id="start-hint" class="govuk-hint">
            For example, 02 02 2019
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start-day"
                  type="number" pattern="[0-9]*" value="{%if query.startdate!='new'%}04{%endif%}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start-month"
                  type="number" pattern="[0-9]*" value="{%if query.startdate!='new'%}06{%endif%}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start-year"
                  type="number" pattern="[0-9]*" value="{%if query.startdate!='new'%}2019{%endif%}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>




      <a href="../vacancy-preview/vacancy-preview-cloned" class="govuk-button">Continue</a>
      <a href="javascript:history.back()" class="govuk-body das-button--link">Cancel</a>

  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
