{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{% if data.title %}{{data.title}}{% else %}Developer apprenticeship{% endif %}</h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="" method="post">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Choose a training provider
                </h1>
              </legend>
              <p class="govuk-body">You will need to use a registered training provider for "<span class="govuk-!-font-weight-bold">{{data.training_level}}</span>"</p>
              <div class="govuk-form-group">
                  <div class="govuk-form-group search-field search-field-darker">
                    <input type="hidden" name="clientsFilter" value="new">
                    <div class="search-input ">
                      <label class="govuk-label" for="contact-by-email">
                        <span class="govuk-hint">
                          Enter the training provider reference number (UKPRN). You will be able to get this from your training provider
The UKPRN must only be 8 digits (For example, 12345678)
                        </span>
                      </label>
                      <div class="autocomplete__parent_wrapper">
                        <div class="autocomplete__wrapper">
                          <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                            <span>No search results.</span>
                            <span>,,</span>
                          </div>
                          <p id="search-default-value" class="govuk-visually-hidden">{% if data.edit=="yes" %}{{data.UKPRN}}{%endif%}</p>
                            <input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input govuk-input--width-10" id="searchClients" name="providerName" placeholder="" role="combobox" type="text" value="{% if data.edit=="yes" %}{{data.UKPRN}}{%endif%}">
                          <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                        </div>
                      </div>
                      <input class="form-control " name="" id="searchClients-old" type="text" value="" style="display: none;">
                    </div>
                    <div class="search-submit">
                      <button class="button govuk-visually-hidden" type="submit" id="searchClientsSubmit" name="searchClientsSubmit" value="Search clients">Search clients</button>
                    </div>
              </div>

            </div>
            <p class="govuk-body"><a href="select-training-provider?UKPRN=" id="clear-search" class="govuk-link das-clear-search">Clear search</a>
            </fieldset>
            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
              <a href="vacancy-preview" class="govuk-body das-button--link">Cancel</a>
            </div>

          </form>
        </div>
    </div>
    </div>
    <div class="govuk-visually-hidden">
      {% for provider in data.providers %}
        <span class="data-item">{{provider.name}} {{provider.UKPRN}}</span>
      {% endfor %}
    </div>

</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}



{% block pageScripts %}
{{super()}}

{% endblock %}
