{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/KK1KM/" target="_blank">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<p><a  href="javascript:history.back()" class="govuk-back-link">Back</a></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Which vacancy do you want to clone?</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table responsive-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>
              <tr class="govuk-table__row" role="row">
                <td class="govuk-table__cell" role="gridcell">
                  <span class="table-heading" aria-hidden="true">Vacancy title</span><span style="font-weight:bold">Developer Apprentice</span> | VAC1000000651<br>
                  <span class="table-heading" aria-hidden="true">Vacancy ref</span>
                  Business Analyst Apprentice, Level: Intermediate (Standard)<br>
                  Closing 27 Jan 2019
                </td>
                <td class="govuk-table__cell numeric" role="gridcell"><a href="title" class="govuk-link">Clone</a></td>
              </tr>


            </tbody>
          </table>

  </div>
</div>

{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
