{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block content %}
<p><a  href="javascript:history.back()" class="govuk-back-link">Back</a></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Preview your vacancy</h1>
    <p class="govuk-body">Review the details that will appear in your vacancy. Once this is approved it will appear on <a href="#">find an apprentice service (opens in new tab)</a>.</p>
    <p class="govuk-body">You can change any of the details.</p>
    <p class="govuk-body"><a href="../vacancy-preview/vacancy-preview" class="govuk-button">Preview vacancy</a></p>
  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}
