{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
          What do you want to call this vacancy?
          </h1>
        </legend>
      <div class="govuk-character-count" data-module="character-count" data-maxlength="100">
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <span class="govuk-hint">Must include the word ‘apprentice’ or ‘apprenticeship’ </span>
          <input class="govuk-input govuk-!-width-three-quarters js-character-count" id="title" name="title" type="text" value="{% if data.title %}{{data.title}}{%endif%}">
        </div>
      </div>

      <div class="govuk-form-group">
        {% if query.edit != "yes"%}
        <input type="submit" class="govuk-button" name="continueButton" value="Save and continue"/>
          <a href="../dashboard-multiple" class="govuk-body das-button--link">Cancel</a>
        {%else%}
          <input type="submit" class="govuk-button" name="previewButton" value="Save and continue"/>
          <a href="vacancy-preview" class="govuk-body das-button--link">Cancel</a>
        {%endif%}
      </div>
      </fieldset>
    </form>
  </div>
</div>
{% block help %}
{% include "includes/service-help.html" %}
{% endblock %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
