{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an employer profile for {{data.orgName}}</h1>
    <p class="govuk-body">You will now set up a employer profile for <span class="govuk-!-font-weight-bold">{{data.orgName}}</span> that can be reused for future vacancys.</p>
    <form  method="post" novalidate>
      <div class="govuk-form-group">
        <a href="display-employer" class="govuk-button">Continue</a>
        <a href="javascript:history.back()" class="govuk-body das-button--link">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% block help %}{% include "includes/service-help.html" %}{% endblock %}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
