
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Recruit an apprentice Prototypes</h1>
      <h2 class="govuk-heading-m">Journeys</h2>
      <ul class="govuk-list">
        <!--<li><a href="end-to-end">End to End</a></li>-->
        <li><h3 class="govuk-heading-m"><a href="av-live/dashboard"><a href="raa-v2/versions">RAA V2</a></h3></li>
        <li><h3 class="govuk-heading-m"><a href="faa/versions">FAA</a></h3></li>
        <li><h3 class="govuk-heading-m"><a href="permissions/versions">Provider permissions</a></h3></li>
      </ul>
    </div>
</div>

{% endblock %}
