
{% extends "tp-layout.html" %}

{% block pageTitle %}
  Manage apprentices
{% endblock %}

{% block beforeContent %}
{% if query.employer_selected == "yes" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="./employers" class="govuk-back-link">Choose a different employer</a>
  </div>
</div>
{% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Vacancies</li>
      </ol>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            {% if query.employer_selected == "yes" %}<span class="govuk-caption-xl">{{data.orgName}}</span>{% endif %}
            Vacancies
          </h1>
        </div>
        <div class="govuk-grid-column-one-third" style="text-align:right;">
          {% if query.employer_selected == "yes" %}
          <a href="create-vacancy-options/title" class="govuk-button govuk-!-margin-top-6">Create vacancy</a>
          {% else %}
          <a href="create-vacancy-options/employers-select" class="govuk-button">Create vacancy</a>
          {% endif %}
        </div>
      </div>

      <table class="govuk-table responsive-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Vacancy title</th>
            <th class="govuk-table__header das-table__header--sort" scope="col">Vacancy ref</th>
            <th class="govuk-table__header das-table__header--sort" scope="col">Closing date</th>
            <th class="govuk-table__header das-table__header--sort" scope="col" colspan="2">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for vacancy in vacancies %}
          {% if query.status == 'any' or not query.status %}
          <tr class="govuk-table__row" role="row">
              <td class="govuk-table__cell" role="gridcell"><span class="table-heading " aria-hidden="true">Vacancy title</span><span class="data-name">{{vacancy.title}} Apprentice</span>
              {%if vacancy.applications > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}
                <br><span class="govuk-!-font-weight-bold">Applications {{vacancy.applications}}</span>
              {% endif%}
              </td>
              <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>{{vacancy.VAC}}</td>
              <td class="govuk-table__cell" role="gridcell" style="width:15%"><span class="table-heading" aria-hidden="true">Closing date</span>23 Dec 2018</td>
              <td class="govuk-table__cell" style="width:15%" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
              <td class="govuk-table__cell" role="gridcell" style=" text-align:right"><a href="manage-vacancy" style="display:inline-block;" class="govuk-link">Manage</a></td>
            </tr>
          {% elseif query.status == "new"%}
          {%if vacancy.applications > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Closed' and vacancy.status != 'Rejected'%}
        <tr class="govuk-table__row" role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="table-heading " aria-hidden="true">Vacancy title</span>{{vacancy.title}} Apprentice
            {%if vacancy.applications > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}
              <br><span class="govuk-!-font-weight-bold">Applications {{vacancy.applications}}</span>
            {% endif%}
            </td>
            <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>{{vacancy.VAC}}</td>
            <td class="govuk-table__cell" role="gridcell" style="width:15%"><span class="table-heading" aria-hidden="true">Closing date</span>23 Dec 2018</td>
            <td class="govuk-table__cell" style="width:15%" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
            <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
          </tr>
          {% endif %}
          {% else %}
          {% if vacancy.status|lower == query.status%}
        <tr class="govuk-table__row" role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="table-heading " aria-hidden="true">Vacancy title</span>{{vacancy.title}} Apprentice
            {%if vacancy.applications > 0 and vacancy.status != 'Draft' and vacancy.status != 'Pending review' and vacancy.status != 'Rejected'%}
              <br><span class="govuk-!-font-weight-bold">Applications {{vacancy.applications}}</span>
            {% endif%}
            </td>
            <td class="govuk-table__cell" role="gridcell"><span class="table-heading" aria-hidden="true">Vacancy ref</span>{{vacancy.VAC}}</td>
            <td class="govuk-table__cell" role="gridcell" style="width:15%"><span class="table-heading" aria-hidden="true">Closing date</span>23 Dec 2018</td>
            <td class="govuk-table__cell" style="width:15%" role="gridcell"><span class="table-heading" aria-hidden="true">Status</span><span class="das-tag das-tag--{% if vacancy.status == 'Pending review' %}submitted {%else%}{{vacancy.status | lower}}{%endif%}">{{vacancy.status}}</span></td>
            <td class="govuk-table__cell" role="gridcell" style="text-align:right"><a href="details" class="govuk-link">Manage</a></td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}
