{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block content %}
<style media="screen">
  .das-preview-change-link{
    margin-top: -15px;
    display:block;
    font-size: 19px;
  }
  .das-summary{
    padding-left:0;
    padding-right:0;
    border-left:0;
    border-right:0;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-width-three-quarters">
    <h1 class="govuk-heading-xl">Check your  vacancy summary</h1>
    <p class="govuk-body-l">This is what your vacancy will look like in a cadidate search result. View the entire vacancy on <a target="_blank" href="https://www.findapprenticeship.service.gov.uk/apprenticeships?SearchField=All&Keywords=engineering&Location=CV1+2WT&WithinDistance=5&ApprenticeshipLevel=All&DisabilityConfidentOnly=false&Latitude=52.400997&Longitude=-1.508122&Hash=-218207335&SearchMode=Keyword&Category=&LocationType=NonNational&sortType=RecentlyAdded&SearchAction=Sort&resultsPerPage=5&DisplayDescription=true&DisplayDistance=true&DisplayClosingDate=true&DisplayStartDate=true&DisplayApprenticeshipLevel=false&DisplayWage=false">search an apprentice (opens in a new tab)</a></p>
    <div class="das-summary govuk-body govuk-!-margin-bottom-6">
      <h2  class="govuk-heading-m govuk-!-margin-bottom-1">{% if data.title %}{{ data.title }}{% else %}Developer Apprentice{% endif %}</h2>

      <ul class="govuk-list">
        <li class="govuk-caption-m">

            {% if data.hasTradingName == "yes"%}
            {{data.orgname}} trading as {{data.tradingName}}
            {% else %}
            {{data.orgname}}
            {% endif%}

        </li>
        <li class="govuk-caption-m">1 position available</li>
      </ul>
      <p class="govuk-body">
        {% if data.shortDescription %}
        {{data.shortDescription}}
        {%else%}
        We have an exciting opportunity for you to join our team as a Service Technician Apprentice, working with vehicles that use some of the most advanced technology in the world. As a team member in our prestigious retailer you will be involved in all aspects of vehicle maintenance from routine services to complex diagnostics and repairs.</p>
        <p class="govuk-body"> </p>
        {%endif%}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <ul class="govuk-list">
                <li>
                    <span class="govuk-!-font-weight-bold">Closing date:</span>
                    <span>01 Jan 2019   </span>
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold">Possible start date:</span>
                    <span>01 Feb 2019   </span>
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold">Apprenticeship level:</span>
                    <span>{% if data.training_standard %}{{data.training_standard}}{%else%}Master's Degree{% endif %}  </span>
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold">Wage:</span>
                    <span>£8,736 - £16,286.40</span><span> yearly   </span>
                </li>
            </ul>
            {% if data.is_disability_confident == "yes" %}
            <div class="disability-confident-container">
              {% if data.disability_confident_level == "level3" %}
              <img src="/public/images/disability-confident-leader-logo@x2.png" class="das-disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
              {% elseif data.disability_confident_level == "level2" %}
              <img src="/public/images/disability-confident-employer-logo@x2.png" class="das-disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
              {% else %}
              <img src="/public/images/disability-confident-commited-logo@x2.png" class="das-disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
              {% endif %}
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    About disability confident
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Disabled candidates are generally guaranteed an interview if you meet the minimum requirements for this vacancy. Contact the employer for full details.</p>

                  <p>Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

                  <p>The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.provide your nationality, you’ll have to send copies of identity documents through the post.</p>
                </div>
              </details>
          </div>
          {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
          <img id="static-map" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?markers=50.827153,-0.167566&amp;size=190x125&amp;zoom=12&amp;client=gme-skillsfundingagency&amp;signature=CBxo6DzPLoJ_ZZST6AKnHjgBl30=">
        </div>
      </div>
      <a  class="govuk-link" href="vacancy-preview">Make changes</a>
    </div>

    <br>
    <h2 class="govuk-heading-m">What's next?</h2>
    <p>After submitting your vacancy it will go to be reviewed by our QA team. It will take upto 24 hours for your vacancy to do live.</p>
    <a href="confirmation" class="govuk-button">Submit for review</a>
      <a href="../vacancies-one" class="govuk-body das-button--link">cancel</a>

  </div><!--.govuk-grid-column-full govuk-!-width-three-quarters -->

</div><!-- .govuk-grid-row -->
{% block help %}
  {% include "includes/service-help.html" %}
{% endblock %}
{% endblock %}
