{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Manage apprentices
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
          What do you want to call this vacancy?
          </h1>
        </legend>
        {% set title = data.training_level | replace("(Standard)","")%}
        {% set titleArray = data.training_level.split(" ")%}
        <p class="govuk-body">To help your vacancy turn up in searches on the Find an apprenticeship site. Please ensure that the vacancy title closely matches the <span class="govuk-!-font-weight-bold">{{data.training_level}}</span></p>
        <div class="govuk-form-group">


        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="display-name-registered" name="selected_display_name" type="radio"
              value="registered" >
            <label class="govuk-label govuk-radios__label" for="display-name-registered">
              {{title}} apprenticeship
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="display-name-registered2" name="selected_display_name" type="radio"
              value="registered" >
            <label class="govuk-label govuk-radios__label" for="display-name-registered2">
              {{titleArray[1]}} {{titleArray[3]}} apprentice
            </label>
          </div>
            <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item " data-module="business-name-vacancy-panel">
            <input class="govuk-radios__input" id="display-name-trading" name="selected_display_name" type="radio"
              value="trading" data-aria-controls="trading-name-conditional">
            <label class="govuk-label govuk-radios__label" for="display-name-trading">
              A different title
            </label>
          </div>


          <div class="govuk-radios__conditional" id="trading-name-conditional">
            <div class="govuk-form-group govuk-!-margin-bottom-8">
              <label for="title" class="govuk-label">Enter title</label>
              <span class="govuk-hint">Must include the word ‘apprentice’ or ‘apprenticeship’ </span>
              <input class="govuk-input govuk-!-width-three-quarters js-character-count" id="title" name="title" type="text" value="{% if data.title and query.edit == "yes" %} %}{{data.title}}{%endif%}">
            </div>
          </div>
        </div>
</div>

      <div class="govuk-form-group">
        {% if query.edit != "yes"%}
        <input type="submit" class="govuk-button" name="continueButton" value="Save and continue"/>
          <a href="../vacancies-one?vac_status=draft" class="govuk-body das-button--link">cancel</a>
        {%else%}
          <input type="submit" class="govuk-button" name="previewButton" value="Save and continue"/>
          <a href="vacancy-preview" class="govuk-body das-button--link">Cancel</a>
        {%endif%}
      </div>
      </fieldset>
    </form>
  </div>
</div>
{% block help %}
{% include "includes/service-help.html" %}
{% endblock %}
<script src="/public/javascripts/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#apprenticeship-type').select2();
  });
</script>

{% endblock %}
